<%= simple_form_for(@weekly_goal) do |f| %>
  <%= f.error_notification %>

 <div class="field">
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
</div>


  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
