<%= form_with(model: @weekly_goal, local: true) do |form| %>
  <% unless @is_edit %>
    <%= form.hidden_field :week_id, value: @current_week.id %>
  <% end %>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-13">
        <% if @weekly_goal.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@weekly_goal.errors.count, "error") %> prohibited this weekly goal from being saved:</h2>
            <ul>
              <% @weekly_goal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="card">
          <div class="card-body">
            <!-- Schedule Table -->
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr class="bg-gray">
                    <th class="text-uppercase">Time</th>
                    <% WeeklySlot.day_of_weeks.keys.each do |day| %>
                      <th class="text-uppercase"><%= day.capitalize %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% WeeklySlot.time_slots.keys.each do |time| %>
                    <tr>
                      <td class="align-middle"><%= time.to_s.humanize.titleize %></td>
                      <% WeeklySlot.day_of_weeks.keys.each_with_index do |day, index| %>
                        <td id="<%= time.downcase %>_<%= day.downcase %>">
                          <div class="form-group" data-controller="selects">
                            <% selected_subject = @weekly_goal.new_record? ? nil : @weekly_goal.weekly_slots.find { |slot| slot.day_of_week == day && slot.time_slot == time.to_s }.try(:subject_name) %>
                            <%= form.collection_select "#{day}_#{time}_subject", @combined_options, :itself, :itself,
                                { selected: selected_subject, prompt: "" },
                                { data: { action: "change->selects#updateTopics", selects_target: "subject" }, class: "form-control" } %>
                            <% selected_topic = @weekly_goal.new_record? ? nil : @weekly_goal.weekly_slots.find { |slot| slot.day_of_week == day && slot.time_slot == time.to_s }.try(:topic_name) %>
                            <%= form.collection_select "#{day}_#{time}_topic", @topic_names, :last, :first,
                                { selected: selected_topic, prompt: "" },
                                { data: { selects_target: "topic" }, class: "form-control" } %>
                          </div>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <!-- Form Actions -->
            <div class="text-center mt-4">
              <%= form.submit 'Save Weekly Goal', class: 'btn btn-primary' %>
              <%= link_to "Back", weekly_goals_path, class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
