<%= form_with(model: @weekly_goal, local: true) do |form| %>
  <div class="container py-5" data-controller="topics">
    <div class="row justify-content-center">
      <div class="col-md-13">
        <% if @weekly_goal.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@weekly_goal.errors.count, "error") %> prohibited this weekly goal from being saved:</h2>
            <ul>
              <% @weekly_goal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="card">
          <div class="card-body">
            <!-- Week Selection -->
            <div class="field">
              <%= form.label :week_id, 'Week' %>
              <%= form.collection_select :week_id, @available_weeks, :id, :name, include_blank: true, class: 'form-select' %>
            </div>

            <!-- Schedule Table -->
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr class="bg-gray">
                    <th class="text-uppercase">Time</th>
                    <% WeeklySlot.day_of_weeks.keys.each do |day| %>
                      <th class="text-uppercase"><%= day.capitalize %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% WeeklySlot.time_slots.keys.each do |time| %>
                    <tr>
                      <td class="align-middle"><%= time %></td>
                      <% WeeklySlot.day_of_weeks.keys.each_with_index do |day, index| %>
                        <%
                        # Assuming you can fetch a weekly_slot here. This part needs to be adjusted based on your actual data structure.
                        weekly_slot = @weekly_goal.weekly_slots.find { |slot| slot.day_of_week == day && slot.time_slot == time }
                        subject_id = @subjects.find { |subject| subject.name == weekly_slot.subject_name }&.id
                        %>
                        <td id="<%= time.downcase %>_<%= day.downcase %>">
                          <div class="form-group">
                            <%= form.collection_select "#{day}_#{time}_subject", @subjects, :id, :name, { selected: subject_id, prompt: "" }, { class: "form-control", data: { action: "change->topics#updateTopics", topics_target: "subject" } } %>
                            <%= form.collection_select "#{day}_#{time}_topic", [], :itself, :itself, { include_blank: 'Select a subject first' }, { class: "form-control", data: { topics_target: "topic" } } %>
                          </div>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>

                </tbody>
              </table>
            </div>

            <!-- Form Actions -->
            <div class="text-center mt-4">
              <%= form.submit 'Save Weekly Goal', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
