<%= form_with(model: @weekly_goal, local: true) do |form| %>
  <% unless @is_edit %>
    <%= form.hidden_field :week_id, value: @current_week.id %>
  <% end %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 p-0">
        <% if @weekly_goal.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@weekly_goal.errors.count, "error") %> prohibited this weekly goal from being saved:</h2>
            <ul>
              <% @weekly_goal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="card mb-5" style="border-radius: 10px;">
          <div class="card-body">
            <!-- Schedule Table -->
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr class="bg-gray">
                    <th class="text-uppercase">Time</th>
                    <% WeeklySlot.day_of_weeks.keys.each do |day| %>
                      <th class="text-uppercase" style="width: 20%"><%= day.split('_').first.capitalize %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% WeeklySlot.time_slots.keys.each do |time| %>
                    <tr>
                      <td class="align-middle"><%= time.to_s.humanize.titleize %></td>
                      <% WeeklySlot.day_of_weeks.keys.each do |day| %>
                        <td id="<%= time.downcase %>_<%= day.downcase %>">
                          <div class="form-group" data-controller="selects" data-special-subjects="<%= @special_subjects.to_json %>">
                            <% selected_subject = @weekly_goal.new_record? ? nil : @weekly_goal.weekly_slots.find { |slot| slot.day_of_week == day && slot.time_slot == time.to_s }.try(:subject_name) %>
                            <div>
                              <%= form.collection_select "#{day}_#{time}_subject", @combined_options, :itself, :itself,
                                  { selected: selected_subject, prompt: "" },
                                  { data: { action: "change->selects#updateTopics", selects_target: "subject" }, class: "form-control mb-1" } %>
                            </div>
                            <% selected_topic = @weekly_goal.new_record? ? nil : @weekly_goal.weekly_slots.find { |slot| slot.day_of_week == day && slot.time_slot == time.to_s }.try(:topic_name) %>
                            <% custom_topic_value = @weekly_goal.new_record? ? nil : @weekly_goal.weekly_slots.find { |slot| slot.day_of_week == day && slot.time_slot == time.to_s }.try(:custom_topic) %>

                            <div data-selects-target="topicContainer" data-selected-topic="<%= selected_topic %>">
                              <% if (selected_topic.blank? && selected_subject != "Other" && !@special_subjects.include?(selected_subject)) || custom_topic_value.blank? %>
                                <%= form.collection_select "#{day}_#{time}_topic", @topic_names, :itself, :itself,
                                    { selected: selected_topic, prompt: "" },
                                    { class: "form-control" } %>
                              <% else %>
                                <%= form.text_field "#{day}_#{time}_custom_topic",
                                    value: custom_topic_value || selected_topic,
                                    class: "form-control",
                                    placeholder: "" %>
                              <% end %>
                            </div>
                          </div>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center gap-2 mt-3 mb-5">
          <%= link_to "Back", weekly_goals_navigator_path(@weekly_goal.week.start_date), class: "btn btn-secondary", style: 'border-radius: 10px;' %>
          <%= form.submit 'Save Weekly Goal', class: 'btn btn-primary', style: 'border-radius: 10px;' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
