<% if !@current_week %>
  <div class="container mt-5">
    <h1>Sorry, its seems like this week has not been created in our system yet...</h1>
  </div>
<% else %>
  <div class="container mt-3">
    <div class="d-flex justify-content-between mb-3 align-items-center position-relative">

      <div>
        <h1><%= @current_week.name %></h1>
      </div>

      <div class="d-flex gap-2 position-absolute top-50 start-50 translate-middle">
        <%= link_to '<i class="fa-solid fa-chevron-left"></i>'.html_safe, weekly_goals_navigator_path(date: @current_date - 7), class: "btn btn-outline-secondary rounded d-flex align-items-center" %>
        <%= link_to 'This Week', weekly_goals_navigator_path(Date.today), class: "btn btn-outline-secondary rounded d-flex align-items-center" %>
        <%= link_to '<i class="fa-solid fa-chevron-right"></i>'.html_safe, weekly_goals_navigator_path(date: @current_date + 7), class: "btn btn-outline-secondary rounded d-flex align-items-center" %>
      </div>

      <div>
        <h1><%= @current_week.sprint.name %></h1>
      </div>
    </div>

    <% if !@weekly_goal %>
    <div class="d-flex flex-column gap-3 mt-5">
      <div class="text-center">
        <h1>There are no weekly goals for <%= @current_week.name %> - <%= @current_week.sprint.name %></h1>
        <p>Click on the button below to create your weekly goals for this week.</p>
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to "New Weekly Goal", new_weekly_goal_path(date: @current_date), class: "btn btn-primary mb-3", style: "border-radius: 10px;" %>
      </div>
    </div>
    <% else %>

      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card shadow-sm mb-5" style="border-radius: 10px;">
            <div class="card-body position-relative">

              <%= link_to weekly_goals_color_picker_path(date: @current_week.start_date), data: { turbo_frame: "modal" }, class: 'btn btn-primary position-absolute', style: 'right: 12px; top: 12px; border-radius: 10px;' do %>
                <i class="fa-solid fa-gear"></i>
              <% end %>


              <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group text-center">
                        <strong>Start Date:</strong> <%= @weekly_goal.week.start_date.strftime("%d/%m/%Y") %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group text-center">
                        <strong>End Date:</strong> <%= @weekly_goal.week.end_date.strftime("%d/%m/%Y") %>
                      </div>
                    </div>
                  </div>
                </div>

              <div class="pt-4">
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-bordered text-center">
                      <thead>
                        <tr class="bg-gray">
                          <th class="text-uppercase">Time</th>
                          <% WeeklySlot.day_of_weeks.keys.each do |day| %>
                            <th class="text-uppercase" style="width: 20%"><%= day.split('_').first.capitalize %></th>
                          <% end %>
                        </tr>
                      </thead>
                      <tbody>
                        <% WeeklySlot.time_slots.keys.each do |time| %>
                          <tr>
                            <td class="align-middle"><%= time.to_s.humanize.titleize %></td>
                            <% WeeklySlot.day_of_weeks.keys.each do |day| %>
                              <td id="<%= time.downcase %>_<%= day.downcase %>" style="height: 1px">
                                <% slot = @weekly_slots.find { |slot| slot.time_slot == time && slot.day_of_week == day } %>

                                <% if slot && slot.subject_name.present?%>
                                  <% subject = @subjects.find {|subject| subject.name == slot.subject_name} %>
                                    <% if subject %>
                                      <% timeline = @timelines.find {|timeline| timeline.subject_id == subject.id} %>
                                    <% else %>
                                      <% timeline = @timelines.find {|timeline| timeline.personalized_name == slot.subject_name} %>
                                    <% end %>
                                <% end %>

                                <div class="form-group h-100 align-content-center" style="position: relative;">
                                  <% if timeline&.color %>
                                    <div class="background-overlay" style="background-color: <%= timeline.color %>;"></div>
                                  <% end %>
                                  <div class="content">
                                    <% if slot %>
                                      <%= slot.subject_name %><br>
                                      <%= slot.topic_name %>
                                    <% end %>
                                  </div>
                                </div>

                                <style>
                                  .form-group .background-overlay {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    opacity: 0.65;
                                    z-index: 1;
                                  }

                                  .form-group .content {
                                    position: relative;
                                    z-index: 2;
                                  }
                                </style>

                              </td>
                            <% end %>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="text-center mb-5">
            <%= link_to "Edit Weekly Goal", edit_weekly_goal_path(@weekly_goal), class: "btn btn-primary mr-2", style: 'border-radius: 10px;' %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
<% end %>
