<!-- app/views/weekly_goals/show.html.erb -->

<h1><%= @weekly_goal.name %></h1>

<div>
  <strong>Start Date:</strong> <%= @weekly_goal.start_date %>
</div>

<div>
  <strong>End Date:</strong> <%= @weekly_goal.end_date %>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="bg-gray">
          <th class="text-uppercase">Time</th>
          <% WeeklySlot.day_of_weeks.keys.each do |day| %>
            <th class="text-uppercase"><%= day.capitalize %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% WeeklySlot.time_slots.keys.each do |time| %>
          <tr>
            <td class="align-middle"><%= time %></td>
            <% WeeklySlot.day_of_weeks.keys.each do |day| %>
              <td id="<%= time.downcase %>_<%= day.downcase %>">
                <div class="form-group">
                  <% slot = @weekly_slots.find { |slot| slot.time_slot == time && slot.day_of_week == day } %>
                  <% if slot %>
                    <%= slot.subject_name %><br>
                    <%= slot.topic_name %>
                  <% else %>
                    No subject<br>
                    No topic
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<% link_to "Edit", edit_weekly_goal_path(@weekly_goal) %>
<%= link_to "Back", weekly_goals_path, class: "btn btn-primary"%>
