<%= simple_form_for([@learner, @note]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <div class="mb-3">
      <div class="mb-2">
        <%= f.label :category %>
      </div>
      <% if current_user.role == "cm" %>
        <%= f.hidden_field :category, value: "Knowledge" %>
        <%= f.select :category, ['Knowledge'], {}, { class: 'form-control' } %>
      <% else %>
        <%= f.select :category, ['Behaviour', 'Knowledge', 'Skills & Community', 'Parents', 'General Update', 'AI Summary'], {}, { class: 'form-control' } %>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label :topic %>
      <%= f.text_area :topic, class: 'form-control', rows: 3 %>
    </div>

    <%= f.label :follow_up_action %>
    <%= f.text_area :follow_up_action, class: 'form-control', rows: 3 %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', style: "border-radius: 10px;" %>
  </div>
<% end %>
