<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Resend Confirmation</h2>
              <p class="text-black-50 mb-5">Please enter your email to receive the confirmation instructions!</p>

              <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <div class="form-outline form-black mb-4">
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                              input_html: { class: "form-control form-control-lg", autocomplete: "email" } %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Resend Confirmation", class: "btn btn-outline-green btn-lg px-5 text-black-50" %>
                </div>
              <% end %>

            </div>

            <p class="small mb-5 pb-lg-2"><%= link_to "Forgot password?", new_user_password_path, class: "text-black-50" %></p>
            <p class="mb-0">Don't have an account? <%= link_to "Sign Up", new_registration_path(resource_name), class: "btn btn-info text-black-50 fw-bold" %></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
