<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-3 col-lg-6 col-xl-5">
        <div class="card text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-1 text-uppercase">Update Password</h2>
              <p class="text-black-50 mb-2">Please update your password for security reasons.</p>
              <br>

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>

                <div class="form-outline form-black mb-4" data-controller="password-toggle" style="position: relative;">
                  <%= f.input :current_password,
                              required: true,
                              input_html: { class: "form-control form-control-lg", autocomplete: "current-password" } %>
                  <span class="fa fa-fw fa-eye field-icon toggle-password"
                        data-action="click->password-toggle#toggle"
                        data-password-toggle-target="icon"
                        toggle="#current_password"
                        style="position: absolute; right: 10px; top: 70%; transform: translateY(-50%); cursor: pointer;"></span>
                </div>

                <div class="form-outline form-white mb-4 align-items-center" data-controller="password-toggle" style="position: relative;">
                  <%= f.input :password,
                              label: "New Password",
                              required: true,
                              input_html: { class: "form-control form-control-lg", autocomplete: "new-password", type: "password", id: "password", data: { password_toggle_target: "password" } } %>
                  <span class="fa fa-fw fa-eye field-icon toggle-password"
                        data-action="click->password-toggle#toggle"
                        data-password-toggle-target="icon"
                        toggle="#password"
                        style="position: absolute; right: 10px; top: 70%; transform: translateY(-50%); cursor: pointer;"></span>
                </div>

                <div class="form-outline form-white mb-4" data-controller="password-toggle" style="position: relative;">
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: { class: "form-control form-control-lg", autocomplete: "new-password", type: "password", id: "password_confirmation", data: { password_toggle_target: "password" } } %>
                  <span class="fa fa-fw fa-eye field-icon toggle-password"
                        data-action="click->password-toggle#toggle"
                        data-password-toggle-target="icon"
                        toggle="#password_confirmation"
                        style="position: absolute; right: 10px; top: 70%; transform: translateY(-50%); cursor: pointer;"></span>
                </div>
                  <%= f.button :submit, "Update", class: "btn btn-lg btn-outline-success px-5 rounded-pill shadow-sm" %>
              <% end %>

            </div>

            <div>
              <%= link_to "Ignore", :back, class: "text-black-50 fw-bold" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
