<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
              <p class="text-black-50 mb-5">Please enter your details to create an account!</p>

              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="form-outline form-black mb-4">
                  <%= f.input :full_name, required: true, input_html: { class: "form-control form-control-lg", autocomplete: "Full name" } %>
                </div>

                <div class="form-outline form-black mb-4">
                  <%= f.select :role, options_for_select(User.roles.keys.reject { |role| role == "admin" || role== "rm" || role == "dc" || role == "guardian" || role == "edu" || role == "staff" }.map { |role| [role.upcase, role] }, "learner"), {}, {class: "form-select form-select-lg"} %>
                </div>

                <div class="form-outline form-black mb-4">
                  <%= f.collection_select :hub_ids, Hub.all.order(name: :asc), :id, :name, {}, {prompt: 'Select a Hub', include_hidden: false, multiple: false, class: "form-select form-select-lg"} %>
                </div>

                <div class="form-outline form-black mb-4">
                  <%= f.input :email, required: true, autofocus: true, input_html: { class: "form-control form-control-lg", autocomplete: "email" } %>
                </div>

                <div class="form-outline form-black mb-4" data-controller="password-toggle">
                  <%= f.input :password,
                              required: true,
                              input_html: { class: "form-control form-control-lg",
                                            autocomplete: "new-password",
                                            type: "password",
                                            id: "password",
                                            data: { password_toggle_target: "password" } } %>
                  <span class="fa fa-fw fa-eye field-icon toggle-password"
                        data-action="click->password-toggle#toggle"
                        data-password-toggle-target="icon"
                        toggle="#password"></span>
                </div>

                <div class="form-outline form-black mb-4" data-controller="password-toggle">
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: { class: "form-control form-control-lg",
                                            autocomplete: "new-password",
                                            type: "password",
                                            id: "password_confirmation",
                                            data: { password_toggle_target: "password" } } %>
                  <span class="fa fa-fw fa-eye field-icon toggle-password"
                        data-action="click->password-toggle#toggle"
                        data-password-toggle-target="icon"
                        toggle="#password_confirmation"></span>
                </div>



                <%= f.button :submit, "Sign up", class: "btn btn-lg btn-outline-success px-5 rounded-pill shadow-sm" %>

              <% end %>

            </div>

            <div>
              <p class="mb-0">Already have an account? <%= link_to "Login", new_session_path(resource_name), class: "btn btn-lg btn-outline-info px-3 rounded-pill shadow-sm" %></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<%= render 'devise/shared/see_password' %>
</section>
