<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Exam Finances</h1>
    <%= link_to 'New Exam Finance', new_exam_finance_path, class: 'btn btn-primary' %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Learner</th>
          <th>Hub</th>
          <th>Number of Exams</th>
          <th>Finance Status</th>
        </tr>
      </thead>

      <tbody>
        <% @exam_finances.each do |exam_finance| %>
          <tr onclick="window.location='<%= exam_finance_path(exam_finance) %>'" style="cursor: pointer;">
            <td><%= exam_finance.user.full_name %></td>
            <td><%= exam_finance.user.users_hubs.where(main: true).first.hub.name %></td>
            <td><%= exam_finance.user.timelines.count %></td>
            <td><%= exam_finance.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
  .table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
  }
</style>
