<%= form_with(model: @kda, local: true) do |form| %>
  <% if @kda.errors.any? %>
    <div class="alert alert-danger">
      <h4>Could not save KDA:</h4>
      <ul>
        <% @kda.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mb-5" style="border-radius: 10px;">
          <div class="card-body py-0">
            <table class="table">
              <thead>
                <tr>
                  <th class="pt-3">How well did you do, last week?	</th>
                  <th>Rating (0-5)</th>
                  <th>Why did you give yourself that rating? Provide two arguments.</th>
                  <th>How will you improve in each KDA, during this week? Give two strategies.</th>
                </tr>
              </thead>
              <tbody>
                <%= form.hidden_field :week_id, value: @current_week.id %>
                <%= form.fields_for :sdl do |sdl_fields| %>
                  <tr>
                    <td>Self-Directed Learning</td>
                    <td>
                      <div class="shadow-sm" style="border-radius: 10px;">
                        <%= sdl_fields.select :rating, options_for_select(0..5, sdl_fields.object.rating), {}, { class: "form-control text-center", required: true, style: "border-radius: 10px" } %>
                      </div>
                    </td>
                    <td><%= sdl_fields.text_area :why, rows: 6, class: "form-control" %></td>
                    <td><%= sdl_fields.text_area :improve, rows: 6, class: "form-control" %></td>
                  </tr>
                <% end %>
                <%= form.fields_for :ini do |ini_fields| %>
                  <tr>
                    <td>Initiative</td>
                    <td>
                      <div class="shadow-sm" style="border-radius: 10px;">
                        <%= ini_fields.select :rating, options_for_select(0..5, ini_fields.object.rating), {}, { class: "form-control text-center", required: true, style: "border-radius: 10px" } %>
                      </div>
                    </td>
                    <td><%= ini_fields.text_area :why, rows: 4, class: "form-control" %></td>
                    <td><%= ini_fields.text_area :improve, rows: 4, class: "form-control" %></td>
                  </tr>
                <% end %>
                <%= form.fields_for :mot do |mot_fields| %>
                  <tr>
                    <td>Motivation</td>
                    <td>
                      <div class="shadow-sm" style="border-radius: 10px;">
                        <%= mot_fields.select :rating, options_for_select(0..5, mot_fields.object.rating), {}, { class: "form-control text-center", required: true, style: "border-radius: 10px" } %>
                      </div>
                    </td>
                    <td><%= mot_fields.text_area :why, rows: 4, class: "form-control" %></td>
                    <td><%= mot_fields.text_area :improve, rows: 4, class: "form-control" %></td>
                  </tr>
                <% end %>
                <%= form.fields_for :p2p do |p2p_fields| %>
                  <tr>
                    <td>P2P</td>
                    <td>
                      <div class="shadow-sm" style="border-radius: 10px;">
                        <%= p2p_fields.select :rating, options_for_select(0..5, p2p_fields.object.rating), {}, { class: "form-control text-center", required: true, style: "border-radius: 10px" } %>
                      </div>
                    </td>
                    <td><%= p2p_fields.text_area :why, rows: 4, class: "form-control" %></td>
                    <td><%= p2p_fields.text_area :improve, rows: 4, class: "form-control" %></td>
                  </tr>
                <% end %>
                <%= form.fields_for :hubp do |hubp_fields| %>
                  <tr>
                    <td>Hub Participation</td>
                    <td>
                      <div class="shadow-sm" style="border-radius: 10px;">
                        <%= hubp_fields.select :rating, options_for_select(0..5, hubp_fields.object.rating), {}, { class: "form-control text-center", required: true, style: "border-radius: 10px" } %>
                      </div>
                    </td>
                    <td><%= hubp_fields.text_area :why, rows: 4, class: "form-control" %></td>
                    <td><%= hubp_fields.text_area :improve, rows: 4, class: "form-control" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-flex justify-content-center  gap-2 mt-3">
          <%= link_to "Back", kdas_path(date: @kda.week.start_date), class: "btn btn-secondary", style: 'border-radius: 10px;' %>
          <%= form.submit "Save KDA", class: "btn btn-primary", style: 'border-radius: 10px;' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
