<%= form_with(model: @kda, local: true) do |form| %>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">New KDA</h2>

            <div class="field">
              <%= form.label :week_id, 'Select Week', class: "form-label" %>
              <%= form.collection_select :week_id, @available_weeks, :id, :name, { include_blank: "Please Select" }, class: "form-control" %>
            </div>

            <hr>

            <%= form.fields_for :kdas_questions do |kda_question_fields| %>
              <% question = Question.find(kda_question_fields.object.question_id) %>
              <h3><%= question.value %></h3>
              <%= kda_question_fields.hidden_field :question_id, value: kda_question_fields.object.question_id %>

              <% ['sdl', 'ini', 'mot', 'p2p', 'hubp'].each do |answer_type| %>
                <%= kda_question_fields.fields_for :answers, kda_question_fields.object.answers.build do |answer_fields| %>
                  <div class="field">
                    <%= answer_fields.label :value, answer_fields.object.readable_answer_type(answer_type), class: "form-label" %>

                    <% if question == Question.first %>
                      <%= answer_fields.number_field :value, min: 1, max: 5, class: "form-control" %>
                    <% else %>
                      <%= answer_fields.text_area :value, class: "form-control" %>
                    <% end %>
                    <%= answer_fields.hidden_field :answer_type, value: answer_type %>
                  </div>
                <% end %>
              <% end %>
              <hr>
            <% end %>

            <div class="form-group text-center">
              <%= form.submit "Submit", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
