<div class="container mt-3">
  <div class="d-flex justify-content-between mb-3 align-items-center position-relative">

    <div class="d-flex">
      <h1><%= @current_week.name%></h1>
    </div>

    <div class="d-flex gap-2 position-absolute top-50 start-50 translate-middle">
      <%= link_to '<i class="fa-solid fa-chevron-left"></i>'.html_safe, kdas_path(date: @date - 7), class: "btn btn-outline-secondary rounded d-flex align-items-center" %>
      <%= link_to 'This Week', kdas_path(date: Date.today), class: "btn btn-outline-secondary rounded d-flex align-items-center" %>
      <%= link_to '<i class="fa-solid fa-chevron-right"></i>'.html_safe, kdas_path(date: @date + 7), class: "btn btn-outline-secondary rounded d-flex align-items-center" %>
    </div>

    <div>
      <h1><%= @current_week.sprint.name %></h1>
    </div>
  </div>

  <% if !@kda %>
    <div class="d-flex flex-column gap-3 mt-5">
      <div class="text-center">
        <h1>There are no KDAs for <%= @current_week.name %> - <%= @current_week.sprint.name %></h1>
        <p>Click on the button below to create your KDAs for this week.</p>
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to "New KDA", new_kda_path(date: @current_date), class: "btn btn-primary mb-3" %>
      </div>
    </div>
  <% else %>
    <div class="card shadow-sm" style="border-radius: 10px">
      <div class="px-2 mb-2">
        <table class="table">
          <thead>
            <tr>
              <th>How well did you do, last week?	</th>
              <th>Rating (0-5)</th>
              <th>Why did you give yourself that rating? Provide two arguments.</th>
              <th>How will you improve in each KDA, during this week? Give two strategies.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Self-Directed Learning</td>
              <td><%= @kda.sdl.rating %></td>
              <td><%= @kda.sdl.why %></td>
              <td><%= @kda.sdl.improve %></td>
            </tr>
            <tr>
              <td>Initiative</td>
              <td><%= @kda.ini.rating %></td>
              <td><%= @kda.ini.why %></td>
              <td><%= @kda.ini.improve %></td>
            </tr>
            <tr>
              <td>Motivation</td>
              <td><%= @kda.mot.rating %></td>
              <td><%= @kda.mot.why %></td>
              <td><%= @kda.mot.improve %></td>
            </tr>
            <tr>
              <td>P2P</td>
              <td><%= @kda.p2p.rating %></td>
              <td><%= @kda.p2p.why %></td>
              <td><%= @kda.p2p.improve %></td>
            </tr>
            <tr>
              <td>Hub Participation</td>
              <td><%= @kda.hubp.rating %></td>
              <td><%= @kda.hubp.why %></td>
              <td><%= @kda.hubp.improve %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <%= link_to 'Edit KDA', edit_kda_path(@kda), class: "btn btn-primary", style: 'border-radius: 10px;' %>
      </div>
    </div>


  <% end %>



</div>

<%= link_to "New KDA", new_kda_path, class: "btn btn-primary mb-3" %>

<% @kdas.each do |kda| %>
  <div class="card mb-3">
    <div class="card-body">

      <p class="card-text">
        <strong>KDA from <%= kda.week.name %></strong> <br>
      </p>
      <%= link_to "Show", kda_path(kda), class: "btn btn-primary mr-2" %>
      <%= link_to "Edit", edit_kda_path(kda), class: "btn btn-secondary mr-2" %>
      <%= link_to "Delete", kda_path(kda), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger", style: "color: white;" %>
    </div>
  </div>
<% end %>
