<%= link_to "New KDA", new_kda_path, class: "btn btn-primary mb-3" %>

<% @kdas.each do |kda| %>
  <div class="card mb-3">
    <div class="card-body">

      <p class="card-text">
        <strong>KDA from <%= kda.week.name %></strong> <br>
      </p>
      <%= link_to "Show", kda_path(kda), class: "btn btn-primary mr-2" %>
      <%= link_to "Edit", edit_kda_path(kda), class: "btn btn-secondary mr-2" %>
      <%= link_to "Delete", kda_path(kda), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger", style: "color: white;" %>
    </div>
  </div>
<% end %>
