<h1><%= @kda.title %></h1>

<p><strong>Start Date:</strong> <%= @kda.start_date %></p>
<p><strong>End Date:</strong> <%= @kda.end_date %></p>

<%= link_to 'Edit', edit_kda_path(@kda) %> |
<%= link_to 'Back', kdas_path %>
