<%= form_for(@exam_date) do |f| %>
  <% if @exam_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_date.errors.count, "error") %> prohibited this exam date from being saved:</h2>

      <ul>
      <% @exam_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.collection_select :subject_id, @subjects, :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
