<%= turbo_page_requires_reload %>
<div class="container">
  <div class="d-flex gap-3 align-items-center mb-3 mt-3">
    <%# <%= image_tag "profile.jpeg", class: "rounded-circle", alt: "Admin", width: "80" %>
    <h1><%= @learner.full_name %></h1>
  </div>

  <%# Card Section %>
  <div>
    <%= render 'pages/partials/cards' %>
  </div>

  <h2>Sprint Overview</h2>
  <p>Keep track of your learner below.</p>
  <div>
    <%= render 'pages/partials/sprint_overview' %>
  </div>

  <% if current_user.role != 'guardian' %>
    <h2>Notes</h2>
    <p>Create and save your notes below.</p>
    <div>
      <%= render 'pages/partials/notes' %>
    </div>

    <h2>Knowledge</h2>
    <p>Check your learner's academic goals below.</p>
    <div>
      <%= render 'pages/partials/knowledges' %>
    </div>

    <h2>Weekly Goals</h2>
    <p>Check your learner's Weekly Goals below.</p>
    <div>
      <%= render 'pages/partials/weekly_goals',
          weekly_goal: @weekly_goal,
          current_week: @current_week,
          learner: @learner,
          current_date: @current_weekly_goal_date %>
    </div>

  <% else %>
    <h2>Knowledge</h2>
    <p>Check the learner's academic goals below.</p>
    <div>
      <%= render 'pages/partials/timelines_display' %>
    </div>

  <% end %>

  <h2>Holidays</h2>
  <p>Check your learner's Holidays below.</p>
  <div>
    <%= render 'pages/partials/holidays',
        holidays: @holidays %>
  </div>


  <h2>Skills & Community</h2>
  <p>Check your learner's skills and community goals for the sprint below.</p>
  <div>
    <%= render 'pages/partials/skills_and_communities' %>
  </div>

</div>
