<%= turbo_page_requires_reload %>
<div class="container">
  <% if current_user.role != 'guardian' %>

    <%# <%= image_tag "profile.jpeg", class: "rounded-circle", alt: "Admin", width: "80" %>
    <%= form_with url: update_learner_name_path(@learner), class: "d-flex align-items-center justify-content-center gap-2 ", method: :patch, local: true do |f| %>
      <%= f.label :full_name, "Edit Learner Name:", class: "d-flex align-items-center justify-content-center" %> <hr>
      <%= f.text_field :full_name, class: "form-control form-control-lg mr-2 w-25", name: "user[full_name]", value: @learner.full_name, placeholder: "Enter learner name" %>
      <hr><%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>

    <br>

    <div>
      <%= render 'pages/partials/cards' %>
    </div>

    <h2>Sprint Overview</h2>
    <p>Keep track of your learner below.</p>
    <div>
      <%= render 'pages/partials/sprint_overview' %>
    </div>

    <h2>Notes</h2>
    <p>Create and save your notes below.</p>
    <div>
      <%= render 'pages/partials/notes' %>
    </div>

    <h2>Timelines</h2>
    <p>Check your learner's academic goals below.</p>
    <div>
      <%= render 'pages/partials/knowledges' %>
    </div>

    <h2>Weekly Goals</h2>
    <p>Check your learner's Weekly Goals below.</p>
    <div>
      <%= render 'pages/partials/weekly_goals',
          weekly_goal: @weekly_goal,
          current_week: @current_week,
          learner: @learner,
          current_date: @current_weekly_goal_date %>
    </div>

  <% else %>
    <div class="d-flex row gap-3 mb-5">
      <div class="col-md-6">
        <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
          <h2><%= @learner.full_name %></h2>
          <p>Hub: <%= @learner.hubs.any? ? @learner.users_hubs.find_by(main: true)&.hub.name : ''  %></p>
          <p>Email: <%= @learner.email %></p>
          <% if @hub_lcs.any? %>
            <% @hub_lcs.each do |lc| %>
              <p>LC: <%= lc.full_name %> <br> <i class="fa-regular fa-envelope"></i> <a href="mailto:<%= lc.email %>"><%= lc.email %></a></p>
            <% end %>
          <% end %>

        <div class="d-flex gap-3 mt-3">
          <div class="d-flex gap-3">
            <% if @report %>
              <%= link_to "Reports", reports_path(date: Date.today), class: 'btn btn-primary', style: 'border-radius: 10px;' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @attendances %>
      <h2>Attendance</h2>
      <div>
        <div>
          <%= render 'pages/partials/attendance',
              learner: @learner,
              current_week: @current_week,
              attendances: @attendances %>
        </div>
      </div>
    <% end %>


    <h2>Sprint Overview</h2>
    <p>Keep track of your learner.</p>
    <div>
      <%= render 'pages/partials/sprint_overview',
          current_user: current_user %>
    </div>

    <h2>Timelines</h2>
    <p>Check your learner's academic performance.</p>
    <div>
      <%= render 'pages/partials/timelines_display' %>
    </div>

  <% end %>

  <h2>Holidays</h2>
  <div>
    <%= render 'pages/partials/holidays',
        holidays: @holidays %>
  </div>

  <h2>Sprint Goals</h2>
  <p>Check your learner's goals below.</p>
  <div>
    <%= render 'pages/partials/skills_and_communities',
        sprint_goal: @sprint_goal,
        current_sprint: @current_sprint,
        learner: @learner %>
  </div>

</div>
