<%= turbo_page_requires_reload %>
<div class="container">
  <div class="d-flex gap-3 align-items-center mb-3 mt-3">
    <%= image_tag "profile.jpeg", class: "rounded-circle", alt: "Admin", width: "80" %>
    <h4><%= @learner.full_name %>'s Profile</h4>
  </div>

  <div class="d-flex row gap-3 mb-5">
    <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
      <p><%= Date.today.strftime("%Y")%> Presence: <%= @yearly_presence %>%</p>
      <p>Hub: <%= @learner.hubs.first.name %></p>
      <p>Email: <%= @learner.email %></p>
      <% @hub_lcs.first(2).each do |lc| %>
        <p>LC: <%= lc.full_name %></p>
      <% end %>
    </div>
    <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
      <% @average_items.each do |average_item| %>
        <div class="d-flex justify-content-between">
          <p><%= average_item[:title] %></p>
          <p><%= average_item[:average] %></p>
        </div>
      <% end %>
    </div>
    <%# FIXME add dynamic numbers when attendance is ready %>
    <%# <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
      <div class="d-flex justify-content-between">
        <p>Attendance</p>
        <p>80%</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Weekly Meetings</p>
        <p>80%</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Average Progress</p>
        <p>50%</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Progress/Week</p>
        <p>2%</p>
      </div>
    </div> %>

  <div class="mb-5">
    <h2>Overview</h2>
    <p>Keep track of your learner below.</p>
    <div class="card mb-2 shadow-sm px-2" style="border-radius: 10px">
      <div class="px-2 overflow-auto">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <% @current_sprint_weeks.each do |week| %>
                <th style="vertical-align: middle;">
                  <div class="d-flex">
                    <% if week.name.include?("Build") %>
                      <%= week.week_name_abbr %>
                      <p style="font-size: 10px; margin-bottom: -1;">BW</p>
                    <% else %>
                      <div style="margin-bottom: 3px"><%= week.week_name_abbr %></div>
                    <% end %>
                  </div>
                </th>
              <% end %>
              <th>
                Overall
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Weekly Goals</td>
              <% @current_sprint_weeks.each do |week| %>
                <% if week.weekly_goals.where(user: @learner).exists? %>
                  <% if week.start_date <= Date.today %>
                    <td class="text-success"><i class="fa-regular fa-circle-check"></i></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <% if week.start_date <= Date.today %>
                    <td class="text-danger"><i class="fa-regular fa-circle-xmark"></i></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              <% end %>
              <td><%= @weekly_goals_percentage %>%</td>
            </tr>
            <tr>
              <td>KDAs</td>
              <% @current_sprint_weeks.each do |week| %>
                <% if week.kdas.where(user: @learner).exists? %>
                  <% if week.start_date <= Date.today %>
                    <td class="text-success"><i class="fa-regular fa-circle-check"></i></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <% if week.start_date <= Date.today %>
                    <td class="text-danger"><i class="fa-regular fa-circle-xmark"></i></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              <% end %>
              <td><%= @kdas_percentage %>%</td>
            </tr>
            <tr>
              <td>Unjustified Absences</td>
              <% @current_sprint_weeks.each do |week| %>
                <% if week.start_date <= Date.today %>
                  <td><%= week.count_absences(@learner) %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td><%= @current_sprint.count_absences(@learner) %></td>
            </tr>
            <tr>
              <td>Weekly Progress</td>
              <% @current_sprint_weeks.each do |week| %>
                <td>
                  <% relative_progress = week.calc_relative_average_timeline_progress(@learner) %>
                  <%# FIXME The logic below is temporary to hide initial
                      progress without previous week progress.
                      Logic can be removed after Sprint 3
                  %>
                  <% if relative_progress > 10 || relative_progress < 0 %>
                    N/A
                  <% else %>
                    <%= "#{relative_progress}%" %>
                  <% end %>
                </td>
              <% end %>
              <td><%= @current_sprint.count_weekly_progress_average(@learner) %>%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <h2>Knowledge</h2>
  <p>Check your academic goals below</p>
  <div class="card mb-5" style="border-radius: 10px">
    <div class="px-2">
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Progress</th>
            <th>Mock 50%</th>
            <th>Mock 100%</th>
            <% if @has_exam_date %>
              <th>Exam Season</th>
            <% end %>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
          <% if @timelines.exists? %>
            <% @timelines.each do |timeline| %>
              <tr>
                <td><%= timeline.subject.name != '' ? timeline.subject.name : timeline.personalized_name %></td>
                <td style="width: 200px;">
                  <% if timeline.progress > timeline.expected_progress%>
                    <div style="background-color: rgb(220,220,220); border-radius: 10px;" class="d-flex">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: <%= timeline.expected_progress %>%; border-radius: 10px 0 0 10px;" aria-valuenow="<%= timeline.expected_progress %>" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-text text-white"><%= timeline.expected_progress %>%</span>
                      </div>
                      <div class="progress-bar bg-success text-white" role="progressbar" style="width: <%= [timeline.progress - timeline.expected_progress, 5].max %>%; border-radius: <%= timeline.progress == 0 ? '10px' :  '0 10px 10px 0'%>;" aria-valuenow="<%= timeline.expected_progress - timeline.progress %>">
                        <% unless timeline.progress - timeline.expected_progress < 10 %>
                          <%= timeline.progress - timeline.expected_progress %>%
                        <% end %>
                      </div>
                    </div>
                  <% elsif timeline.progress < timeline.expected_progress%>
                    <div style="background-color: rgb(220,220,220); border-radius: 10px;" class="d-flex">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: <%= timeline.progress %>%; border-radius: 10px 0 0 10px;" aria-valuenow="<%= timeline.progress %>" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-text text-white"><%= timeline.progress %>%</span>
                      </div>
                      <div class="progress-bar bg-danger text-white" role="progressbar" style="width: <%= [timeline.expected_progress - timeline.progress, 5].max %>%; border-radius: <%= timeline.progress == 0 ? '10px' :  '0 10px 10px 0'%>;" aria-valuenow="<%= timeline.expected_progress - timeline.progress %>">
                        <% unless timeline.expected_progress - timeline.progress < 10 %>
                          <%= timeline.expected_progress - timeline.progress %>%
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <div style="background-color: rgb(220,220,220); border-radius: 10px;">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: <%= timeline.progress%>%; border-radius: 10px;" aria-valuenow="<%= timeline.progress%>" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-text text-white"><%= timeline.progress %>%</span>
                      </div>
                    </div>
                  <% end %>

                </td>
                <% if timeline.mock50 != nil %>
                  <td><%= timeline.mock50.strftime("%d/%m/%Y") %></td>
                <% else %>
                  <td></td>
                <% end %>
                <% if timeline.mock100 != nil %>
                  <td><%= timeline.mock100.strftime("%d/%m/%Y") %></td>
                <% else %>
                  <td></td>
                <% end %>
                <% if @has_exam_date %>
                  <td>
                    <% if timeline.exam_date.present? %>
                      <% if timeline.exam_date.date.month == 5 || timeline.exam_date.date.month == 6 %>
                        <p>May/ Jun <%= timeline.exam_date.date.strftime("%Y") %></p>
                      <% elsif timeline.exam_date.date.month == 10 || timeline.exam_date.date.month == 11 %>
                        <p>Oct/ Nov <%= timeline.exam_date.date.strftime("%Y") %></p>
                      <% else %>
                        <%= timeline.exam_date.date.strftime("%B %Y") %>
                      <% end %>
                    <% else %>
                      <p>N/A</p>
                    <% end %>
                  </td>
                <% end %>
                <td><%= timeline.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= timeline.end_date.strftime("%d/%m/%Y") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7">
                <div class="text-center py-5">
                  <h2>No Timelines available...</h2>
                  <p>Please help <%= @learner.full_name %> set up their timelines.</p>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <h2>Skills & Community</h2>
  <p>Check your skills and community goals for the sprint below.</p>
  <div class="card mb-5" style="border-radius: 10px">
    <div class="px-2">
      <table class="table">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Your Goals for this Activity</th>
            <th>The challenges you might encounter.</th>
            <th>The plan to overcome the challenges</th>
          </tr>
        </thead>
        <tbody>
          <% if @skills && @communities %>
            <% @skills.each do |skill| %>
              <tr>
                <td><%= skill.extracurricular %></td>
                <td><%= skill.smartgoals %></td>
                <td><%= skill.difficulties %></td>
                <td><%= skill.plan %></td>
              </tr>
            <% end %>
            <% @communities.each do |community| %>
              <tr>
                <td><%= community.involved %></td>
                <td><%= community.smartgoals %></td>
                <td><%= community.difficulties %></td>
                <td><%= community.plan %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">
                <div class="text-center py-5">
                  <h2>No Sprint Goals yet...</h2>
                  <p>Please help <%= @learner.full_name %> fill out their sprint goals.</p>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
