<div class="container">
    <div class="main-body">

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <%= image_tag "profile.jpeg", class: "rounded-circle", alt: "Admin", width: "150" %>
                    <div class="mt-3">
                      <h4> <%= current_user.full_name %></h4>
                      <p class="text-secondary mb-1"><%= @hub.country %></p>
                      <p class="text-muted font-size-sm"><%= @hub.name%> Hub
                      </p>
                      <button class="btn btn-outline-primary disabled">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <% @activities.each do |activity| %>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <%= activity  %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= current_user.full_name   %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= current_user.email   %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Year</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= @subject.category_long_form %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-info disabled" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Progress Overview</h6>
                      <% @timelines.each do |timeline| %>
                        <div class="timeline">
                          <small>
                            <%= timeline.subject.name %>
                          </small>
                          <div class="progress mb-3" style="height: 20px;"> <!-- Increased height to accommodate text -->
                            <!-- Current progress -->
                            <!-- Difference to expected progress -->
                            <% if timeline.progress > timeline.expected_progress %>
                            <div class="progress-bar bg-primary" role="progressbar" style="width: <%= [timeline.progress, timeline.expected_progress].min %>%;" aria-valuenow="<%= timeline.progress %>" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-text"><%= timeline.expected_progress %>%</span> <!-- Display the actual progress percentage inside the bar -->
                            </div>
                              <div class="progress-bar bg-success" role="progressbar" style="width: <%= timeline.progress - timeline.expected_progress %>%;" aria-valuenow="<%= timeline.progress - timeline.expected_progress %>">
                                <%= timeline.progress - timeline.expected_progress %>% <!-- Display the difference inside the bar -->
                              </div>
                            <% elsif timeline.progress < timeline.expected_progress %>
                              <!-- Corrected to show red bar only when actual progress is less than expected -->
                              <div class="progress-bar bg-primary" role="progressbar" style="width: <%= [timeline.progress, timeline.expected_progress].min %>%;" aria-valuenow="<%= timeline.progress %>" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress-text"><%= timeline.progress %>%</span> <!-- Display the actual progress percentage inside the bar -->
                              </div>
                              <div class="progress-bar bg-danger" role="progressbar" style="width: <%= timeline.expected_progress - timeline.progress %>%;" aria-valuenow="<%= timeline.expected_progress - timeline.progress %>">
                                <%= timeline.expected_progress - timeline.progress %>% <!-- Display the difference inside the bar -->
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                      <div class="timeline">
                        <h6 class="d-flex align-items-center mb-3">
                          <i class="material-icons text-info mr-2"></i>Overall Progress
                        </h6>
                        <div class="progress mb-3" style="height: 20px;"> <!-- Increased height to accommodate text -->
                          <!-- Current progress -->
                          <!-- Difference to expected progress -->
                          <% if @overall_progress > @overall_progress_expected %>
                            <div class="progress-bar bg-primary" role="progressbar" style="width: <%= [@overall_progress, @overall_progress_expected].min %>%;" aria-valuenow="<%= @overall_progress %>" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-text"><%= @overall_progress_expected %>%</span> <!-- Display the actual progress percentage inside the bar -->
                            </div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: <%= @overall_progress - @overall_progress_expected %>%;" aria-valuenow="<%= @overall_progress - @overall_progress_expected %>">
                              <%= @overall_progress - @overall_progress_expected %>% <!-- Display the difference inside the bar -->
                            </div>
                          <% elsif @overall_progress < @overall_progress_expected %>
                            <!-- Corrected to show red bar only when actual progress is less than expected -->
                            <div class="progress-bar bg-primary" role="progressbar" style="width: <%= @overall_progress %> %>%;" aria-valuenow="<%= @overall_progress %>" aria-valuemin="0" aria-valuemax="100">
                              <span class="progress-text"><%= @overall_progress %>%</span> <!-- Display the actual progress percentage inside the bar -->
                            </div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @overall_progress_expected - @overall_progress %>%;" aria-valuenow="<%= @overall_progress_expected - @overall_progress %>">
                              <%= @overall_progress_expected - @overall_progress %>% <!-- Display the difference inside the bar -->
                            </div>
                          <% end %>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                      <% if @timelines.present? %>
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="row mb-2 font-weight-bold"> <!-- Header Row for Titles -->
                              <div class="col-md-4">50% Mock</div>
                              <div class="col-md-4">100% Mock</div>
                              <div class="col-md-4">Exam Season</div>
                            </div>
                            <% @timelines.each_with_index do |timeline, index| %>
                            <div class="row">
                              <div class="col-md-4 mt-4">
                                <%= @mock50[index] %>
                              </div>
                              <div class="col-md-4 mt-4">
                                <%= @mock100[index] %>
                              </div>
                              <div class="col-md-4 mt-4">
                                <% if timeline.exam_date.present? %>
                                  <% if timeline.exam_date.date.month == 5 || timeline.exam_date.date.month == 6 %>
                                    <%= "May/June"%> <br> <%= timeline.exam_date.date.strftime("%Y") %>
                                  <% elsif timeline.exam_date.date.month == 10 || timeline.exam_date.date.month == 11 %>
                                    <%= "Oct/Nov" %> <br> <%= timeline.exam_date.date.strftime("%Y") %>
                                  <% else %>
                                    <%= timeline.exam_date.date.strftime("%B %Y") %>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
