<%= turbo_page_requires_reload %>
<div class="container">
  <div class="d-flex gap-3 align-items-center mb-3 mt-3">
    <%= image_tag "profile.jpeg", class: "rounded-circle", alt: "Admin", width: "80" %>
    <h4><%= @learner.full_name %>'s Profile</h4>
  </div>

  <div class="d-flex row gap-3 mb-5">
    <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
      <p><%= @current_sprint.name %>(<%= @current_sprint.start_date.strftime("%Y") %>) Attendance: <%= @sprint_presence %>%</p>
      <p>Hub: <%= @learner.users_hubs.find_by(main: true)&.hub.name %></p>
      <p>Email: <%= @learner.email %></p>
      <% @hub_lcs.each do |lc| %>
        <p>LC: <%= lc.full_name %> <br> <i class="fa-regular fa-envelope"></i> <%= lc.email %></p>
      <% end %>
    </div>
    <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
      <% @average_items.each do |average_item| %>
        <div class="d-flex justify-content-between">
          <p><%= average_item[:title] %></p>
          <p><%= average_item[:average] %></p>
        </div>
      <% end %>
      <div class="d-flex justify-content-center gap-3">
        <% if @learner.birthday && @learner.birthday < Date.today - 18.years %>
          <% if @sprint_consent.present? && (@sprint_consent.confirmation_over_18 || @sprint_consent.confirmation_under_18) %>
            <%= link_to sprint_consents_path(learner_id: @learner.id), class: "btn btn-success", style: "border-radius: 10px;" do %>
              Sprint Consent <i class="fa-solid fa-check"></i>
            <% end %>
          <% else %>
            <%= link_to sprint_consents_path(learner_id: @learner.id), class: "btn btn-danger", style: "border-radius: 10px;" do %>
              Sprint Consent <i class="fa-solid fa-xmark"></i>
            <% end %>
          <% end %>
          <% if @bw_consent.present? && (@bw_consent.confirmation_over_18 || @bw_consent.confirmation_under_18) %>
            <%= link_to build_week_consents_path(learner_id: @learner.id), class: "btn btn-success", style: "border-radius: 10px;" do %>
              Build Week Consent <i class="fa-solid fa-check"></i>
            <% end %>
          <% else %>
            <%= link_to build_week_consents_path(learner_id: @learner.id), class: "btn btn-danger", style: "border-radius: 10px;" do %>
              Build Week Consent <i class="fa-solid fa-xmark"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# FIXME add dynamic numbers when attendance is ready %>
    <%# <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
      <div class="d-flex justify-content-between">
        <p>Attendance</p>
        <p>80%</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Weekly Meetings</p>
        <p>80%</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Average Progress</p>
        <p>50%</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Progress/Week</p>
        <p>2%</p>
      </div>
    </div> %>

  <div class="mb-5">
    <h2>Overview</h2>
    <p>Keep track of your progress below.</p>
    <div class="card mb-2 shadow-sm px-2" style="border-radius: 10px">
      <div class="px-2 overflow-auto">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <% @current_sprint_weeks.each do |week| %>
                <th class="week-header" >
                  <div class="week-name-container">
                    <div class="week-name"><%= week.week_name_abbr %></div>
                  </div>
                </th>
              <% end %>
              <%# <th>Overall</th> %>
                <th>
                  Overall
                </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Weekly Goals</td>
              <% @current_sprint_weeks.each do |week| %>
                <% if week.weekly_goals.where(user: @learner).exists? %>
                  <% if week.start_date <= Date.today %>
                    <td class="text-success"><i class="fa-regular fa-circle-check"></i></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% else %>
                  <% if week.start_date <= Date.today %>
                    <td class="text-danger"><i class="fa-regular fa-circle-xmark"></i></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              <% end %>
              <td><%= @weekly_goals_percentage %>%</td>
            </tr>
            <tr>
              <td>KDA's</td>
              <% @current_sprint_weeks.each_slice(4) do |week_group| %>
                <% past_or_current = week_group.any? { |week| week.start_date <= Date.today } %>

                <% if past_or_current %>
                  <% completed = week_group.any? { |week| week.kdas.where(user: @learner).exists? } %>

                  <td colspan="4" style="text-align: center; padding: 5px; position: relative;">
                    <div style="
                      display: inline-block;
                      width: 100%;
                      height: 100%;
                      padding: 8px;
                      border: 2px solid <%= completed ? 'lightgreen' : 'red' %>;
                      box-sizing: border-box;
                      border-radius: 5px;
                    ">
                      <% if completed %>
                        <i class="fa-regular fa-circle-check text-success"></i>
                      <% else %>
                        <i class="fa-regular fa-circle-xmark text-danger"></i>
                      <% end %>
                    </div>
                  </td>
                <% else %>
                  <td colspan="4"></td>
                <% end %>
              <% end %>
            </tr>
            <tr>
              <td>Unjustified Absences</td>
              <% @current_sprint_weeks.each do |week| %>
                <% if week.start_date <= Date.today %>
                  <td><%= week.count_absences(@learner) %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <td><%= @current_sprint.count_absences(@learner) %></td>
            </tr>
            <tr>
              <td>Time@Hub</td>
              <% @current_sprint_weeks.each do |week| %>
                <% if week.start_date <= Date.today %>
                  <td><%= format_time_spent((@time_spent[week.id] || 0).to_i) %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <% total_time = @time_spent.values.sum %>
              <td><%= format_time_spent(total_time) %></td>
            </tr>
            <tr>
              <td>Expected Work</td>
              <% @current_sprint_weeks.each do |week| %>
                <% if week.start_date <= Date.today %>
                  <td><%= @expected_hours[week.id] ? "#{@expected_hours[week.id].round(1)}h" : "-" %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
              <% total_expected_hours = @expected_hours.values.compact.sum %>
              <td><%= total_expected_hours > 0 ? "#{total_expected_hours.round(1)}h" : "-" %></td>
            </tr>
            <tr>
              <%# <td>Weekly Progress</td>
              <% @current_sprint_weeks.each do |week| %>
                <%# <td>
                  <% relative_progress = week.calc_relative_average_timeline_progress(@learner) %>
                  <%# FIXME The logic below is temporary to hide initial
                      <%# progress without previous week progress.
                      <%# Logic can be removed after Sprint 3
                  %>
                  <%# <% if relative_progress > 10 || relative_progress < 0 %>
                    <%# N/A
                  <% else %>
                    <%# <%= "#{relative_progress}%" %>
                  <%# <% end %>
                <%# </td>
              <% end %>
              <%# <td><%= @current_sprint.count_weekly_progress_average(@learner)%</td> %>
            <%# </tr> %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <h2>Knowledge</h2>
  <p>Check your academic goals below</p>
  <%= render 'pages/partials/timelines_display' %>

  <h2>Skills & Community</h2>
  <p>Check your skills and community goals for the current sprint below.</p>
  <div class="card mb-5" style="border-radius: 10px">
    <div class="px-2">
      <table class="table">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Your Goals for this Activity</th>
            <th>The challenges you might encounter.</th>
            <th>The plan to overcome the challenges</th>
          </tr>
        </thead>
        <tbody>
          <% if @skills && @communities %>
            <% @skills.each do |skill| %>
              <tr>
                <td><%= skill.extracurricular %></td>
                <td><%= skill.smartgoals %></td>
                <td><%= skill.difficulties %></td>
                <td><%= skill.plan %></td>
              </tr>
            <% end %>
            <% @communities.each do |community| %>
              <tr>
                <td><%= community.involved %></td>
                <td><%= community.smartgoals %></td>
                <td><%= community.difficulties %></td>
                <td><%= community.plan %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">
                <div class="text-center py-5">
                  <h2>No Sprint Goals yet...</h2>
                  <p>Please help <%= @learner.full_name %> fill out their sprint goals.</p>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
