<%= form_with(model: @sprint_goal, local: true) do |form| %>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">New Sprint Goal</h2>

            <!-- Select Sprint -->
            <div class="field">
              <%= form.label :sprint_id, 'Select Sprint', class: "form-label" %>
              <%= form.collection_select :sprint_id, @available_sprints, :id, :name, { include_blank: "Please Select" }, class: "form-control" %>
            </div>

            <hr>

            <% @sprint_goal.questions_sprint_goals.each_with_index do |question_sprint_goal, index| %>
              <div class="mb-3">
                <h3><%= question_sprint_goal.question.value %></h3>
                <%= form.hidden_field :questions_sprint_goals_attributes, name: "sprint_goal[questions_sprint_goals_attributes][#{index}][question_id]", value: question_sprint_goal.question_id %>

                <%= form.fields_for :answers, question_sprint_goal.answers.build do |answer_fields| %>
                  <div class="field">
                    <%= answer_fields.text_field :value, name: "sprint_goal[questions_sprint_goals_attributes][#{index}][answers_attributes][0][value]", class: "form-control" %>
                  </div>
                <% end %>
              </div>
              <hr>
            <% end %>

            <!-- Submit Button -->
            <div class="form-group text-center">
              <%= form.submit "Submit", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
