<%= form_with(model: @sprint_goal, local: true) do |form| %>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">New Sprint Goal</h2>

            <div class="field">
              <%= form.label :sprint_id, 'Select Sprint', class: "form-label" %>
              <%= form.collection_select :sprint_id, @available_sprints, :id, :name, { include_blank: "Please Select" }, class: "form-control" %>
            </div>

            <hr>

            <%= form.fields_for :questions_sprint_goals do |sg_question_fields| %>
              <% question = Question.find(sg_question_fields.object.question_id) %>
              <h3><%= question.value %></h3>
              <%= sg_question_fields.hidden_field :question_id, value: sg_question_fields.object.question_id %>

              <% ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'].each do |answer_type| %>
                <%= sg_question_fields.fields_for :answers, sg_question_fields.object.answers.build do |answer_fields| %>
                  <div class="field">
                    <%= answer_fields.text_area :value, class: "form-control" %>
                    <%= answer_fields.hidden_field :answer_type, value: answer_type %>
                  </div>
                <% end %>
              <% end %>
              <hr>
            <% end %>

            <div class="form-group text-center">
              <%= form.submit "Submit", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
