<%= link_to "New Sprint goal", new_sprint_goal_path, class: "btn btn-primary mb-3" %>

<% @sprint_goals.each do |sprint_goal| %>
  <div class="card mb-3">
    <div class="card-body">

      <p class="card-text">
        <strong><%= sprint_goal.sprint.name %> <%= sprint_goal.sprint.start_date.year %> </strong> <br>
      </p>
      <%= link_to "Show", sprint_goal_path(sprint_goal), class: "btn btn-primary mr-2" %>
      <%= link_to "Edit", edit_sprint_goal_path(sprint_goal), class: "btn btn-secondary mr-2" %>
      <%= link_to "Delete", sprint_goal_path(sprint_goal), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger", style: "color: white;" %>
    </div>
  </div>
<% end %>
