<div class="d-flex row gap-3 mb-5">
  <div class="col-md-4">
    <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
      <p><%= @current_sprint.name %>(<%= @current_sprint.start_date.strftime("%Y") %>) Attendance: <%= @sprint_presence %>%</p>
      <p>Hub: <%= @main_hub.try(:name) || "N/A" %></p>
      <p>Email: <%= @learner.email %></p>
      <% @hub_lcs.each do |lc| %>
        <p>LC: <%= lc.full_name %> <br> <i class="fa-regular fa-envelope"></i> <%= lc.email %></p>
      <% end %>
      <div class="d-flex gap-3">
        <% if @sprint_consent.present? && (@sprint_consent.confirmation_over_18 || @sprint_consent.confirmation_under_18) %>
          <%= link_to sprint_consents_path(learner_id: @learner.id), class: "btn btn-success", style: "border-radius: 10px;" do %>
            Sprint Consent <i class="fa-solid fa-check"></i>
          <% end %>
        <% else %>
          <%= link_to sprint_consents_path(learner_id: @learner.id), class: "btn btn-danger", style: "border-radius: 10px;" do %>
            Sprint Consent <i class="fa-solid fa-xmark"></i>
          <% end %>
        <% end %>
        <% if @bw_consent.present? && (@bw_consent.confirmation_over_18 || @bw_consent.confirmation_under_18) %>
          <%= link_to build_week_consents_path(learner_id: @learner.id), class: "btn btn-success", style: "border-radius: 10px;" do %>
            Build Week Consent <i class="fa-solid fa-check"></i>
          <% end %>
        <% else %>
          <%= link_to build_week_consents_path(learner_id: @learner.id), class: "btn btn-danger", style: "border-radius: 10px;" do %>
            Build Week Consent <i class="fa-solid fa-xmark"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
    <% @average_items.each do |average_item| %>
      <div class="d-flex justify-content-between">
        <p><%= average_item[:title] %></p>
        <p><%= average_item[:average] %></p>
      </div>
    <% end %>
  </div>
  <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
    <%= form_with(model: @learner_flag, local: true) do |form| %>
      <div class="d-flex justify-content-between align-items-center">
        <p>Asks for Help</p>
        <%= form.check_box :asks_for_help, onchange: "this.form.submit();" %>
      </div>
      <div class="d-flex justify-content-between">
        <p>Takes notes</p>
        <%= form.check_box :takes_notes, onchange: "this.form.submit();" %>
      </div>
      <div class="d-flex justify-content-between">
        <p>Goes to live lessons?</p>
        <%= form.check_box :goes_to_live_lessons, onchange: "this.form.submit();" %>
      </div>
      <div class="d-flex justify-content-between">
        <p>Does Peer to Peer?</p>
        <%= form.check_box :does_p2p, onchange: "this.form.submit();" %>
      </div>
      <div class="d-flex justify-content-between">
        <p>Life Experiences</p>
        <%= form.check_box :life_experiences, onchange: "this.form.submit();" %>
      </div>
    <% end %>
  </div>
  <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
    <div class="d-flex justify-content-between">
      <p>Action Plan</p>
      <%= link_to edit_learner_flag_path(@learner_flag), data: { turbo_frame: "modal" } do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
    </div>
    <p><%= @learner_flag.action_plan %></p>
  </div>
</div>
