<div class="accordion mb-5" id="parentAccordion">
  <% @timelines.each_with_index do |timeline, index| %>
    <% is_lws = timeline.subject.category&.include?("lws")%>
    <div>
      <h2>
        <div class="d-flex">
          <%# Timeline Header %>
          <div class="col-12">
            <div class="card shadow-sm p-2" style="border-radius: 10px;">
              <div class="d-flex justify-content-between align-items-center mb-1">
                <h5 style="vertical-align: middle; width: 150px">
                  <%= timeline.subject.name != '' ? timeline.subject.name : timeline.personalized_name %>
                </h5>

                <div>
                  <p class="mb-1" style="color: gray; font-size: 16px;">Exam Season: </p>
                    <% if timeline.exam_date.present? %>
                      <% if timeline.exam_date.date.month == 5 || timeline.exam_date.date.month == 6 %>
                        <p style="font-size: 16px;">May/Jun <%= timeline.exam_date.date.strftime("%Y") %></p>
                      <% elsif timeline.exam_date.date.month == 10 || timeline.exam_date.date.month == 11 %>
                        <p style="font-size: 16px;">Oct/Nov <%= timeline.exam_date.date.strftime("%Y") %></p>
                      <% else %>
                        <%= timeline.exam_date.date.strftime("%B %Y") %>
                      <% end %>
                    <% else %>
                      <p style="font-size: 16px;" class="mb-1">N/A</p>
                    <% end %>
                </div>

                <div class="d-flex gap-3">
                  <div>
                    <p class="mb-1" style="color: gray; font-size: 16px;">Mock 50%: </p>
                    <p class="mb-1" style="font-size: 16px;">
                      <% if timeline.mock50 != nil %>
                        <%= timeline.mock50.strftime("%d/%m/%Y") %>
                      <% else %>
                        N/A
                      <% end %>
                    </p>
                  </div>
                  <div>
                    <p class="mb-1" style="color: gray; font-size: 16px;">Mock 100%: </p>
                    <p class="mb-1" style="font-size: 16px;">
                      <% if timeline.mock100 != nil %>
                        <%= timeline.mock100.strftime("%d/%m/%Y") %>
                      <% else %>
                        N/A
                      <% end %>
                    </p>
                  </div>
                </div>

                <div class="d-flex gap-3">
                  <div>
                    <p class="mb-1" style="color: gray; font-size: 16px;">Start Date: </p>
                    <p class="mb-1" style="font-size: 16px;">
                      <%= timeline.start_date.strftime("%d/%m/%Y") %>
                    </p>
                  </div>
                  <div>
                    <p class="mb-1" style="color: gray; font-size: 16px;">End Date: </p>
                    <p class="mb-1" style="font-size: 16px;">
                      <%= timeline.end_date.strftime("%d/%m/%Y") %>
                    </p>
                  </div>
                </div>

                <div style="margin-block: auto;">
                  <button class="accordion-button" style="border-radius: 10px; padding: 0.5rem;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                  </button>
                </div>
              </div>
              <% unless timeline.expected_progress.nil? %>
                <% if timeline.progress > timeline.expected_progress%>
                  <div style="background-color: rgb(220,220,220); border-radius: 10px; height: 15px; font-size: 12px;" class="d-flex">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: <%= timeline.expected_progress %>%; border-radius: 10px 0 0 10px;" aria-valuenow="<%= timeline.expected_progress %>" aria-valuemin="0" aria-valuemax="100">
                      <span class="progress-text text-white"><%= timeline.expected_progress %>%</span>
                    </div>
                    <div class="progress-bar bg-success text-white" role="progressbar" style="width: <%= timeline.progress - timeline.expected_progress %>%; border-radius: <%= timeline.progress == 0 ? '10px' :  '0 10px 10px 0'%>;" aria-valuenow="<%= timeline.expected_progress - timeline.progress %>">
                      <%= timeline.progress - timeline.expected_progress %>%
                    </div>
                  </div>
                <% elsif timeline.progress < timeline.expected_progress%>
                  <div style="background-color: rgb(220,220,220); border-radius: 10px; height: 15px; font-size: 12px;" class="d-flex">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: <%= timeline.progress %>%; border-radius: 10px 0 0 10px;" aria-valuenow="<%= timeline.progress %>" aria-valuemin="0" aria-valuemax="100">
                      <span class="progress-text text-white"><%= timeline.progress %>%</span>
                    </div>
                    <div class="progress-bar bg-danger text-white" role="progressbar" style="width: <%= timeline.expected_progress - timeline.progress %>%; border-radius: <%= timeline.progress == 0 ? '10px' :  '0 10px 10px 0'%>;" aria-valuenow="<%= timeline.expected_progress - timeline.progress %>">
                      <%= timeline.expected_progress - timeline.progress %>%
                    </div>
                  </div>
                <% else %>
                  <div style="background-color: rgb(220,220,220); border-radius: 10px; height: 15px; font-size: 12px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: <%= timeline.progress%>%; border-radius: 10px;" aria-valuenow="<%= timeline.progress%>" aria-valuemin="0" aria-valuemax="100">
                      <span class="progress-text text-white"><%= timeline.progress %>%</span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </h2>
      <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#parentAccordion">
        <div class="accordion-body p-2">
          <div class="card shadow-sm px-2" style="border-radius: 10px;">
            <table class="table">
              <thead>
                <tr>
                  <th><%= is_lws ? 'Project' : 'Unit' %></th>
                  <th>Topic</th>
                  <% if !is_lws %>
                    <th>Hours</th>
                    <th width = "120px" >Date</th>
                  <% end %>
                  <th>Done</th>
                </tr>
              </thead>
              <tbody>
                <% previous_unit = nil %>
                <% timeline.subject.topics.order(:order, id: :asc).each_with_index do |topic, index| %>
                  <% user_topic = @learner.user_topics.find_or_initialize_by(topic: topic) %>
                  <% subject_category = topic.subject.category %>
                  <% background_color = if !user_topic.done && user_topic.deadline && user_topic.deadline < Date.today && !['lws8', 'lws9'].include?(subject_category)
                      'background-color: lightcoral;'
                    elsif !user_topic.done && user_topic.deadline && Date.today.monday < user_topic.deadline && user_topic.deadline < (Date.today + ((5 - Date.today.wday) % 7)) && !['lws8', 'lws9'].include?(subject_category)
                      'background-color: lightgrey;'
                    elsif user_topic.done
                      'background-color: lightgreen;'
                    else
                      ''
                    end
                  %>

                  <tr style="<%= background_color %>">
                    <td>
                      <% if topic.unit != previous_unit %>
                        <%= topic.unit %>
                        <% previous_unit = topic.unit %>
                      <% end %>
                    </td>
                    <td style="<%= background_color %>"><%= topic.name %></td>
                    <% if !user_topic.deadline.nil? %>
                      <% if !is_lws%>
                        <td style="<%= background_color %>"><%= topic.time %></td>
                        <td style="<%= background_color %>"><%= user_topic.deadline.strftime('%d-%m-%Y') %></td>
                      <% else %>
                        <td style="<%= background_color %>"><%= topic.time %></td>
                      <% end %>
                    <% else %>
                      <td style="<%= background_color %>"><%= topic.time %></td>
                    <% end %>
                    <td style="<%= background_color %>">
                      <div class="d-flex justify-content-center align-items-center" data-controller="toggle-done">
                        <%= form_with model: user_topic, url: timeline_path(timeline), method: :patch, local: true do |form| %>
                          <div class="form-check">
                            <%= form.check_box :done, class: "form-check-input",
                                                    data: {
                                                      action: "change->toggle-done#toggle",
                                                      toggle_done_target: "checkbox",
                                                      user_topic_id: user_topic.id,
                                                      timeline_id: timeline.id
                                                    } %>
                          </div>
                        <% end %>
                      </div>
                    </td>
                    <% (user_topic.calculate_percentage * 100).round(3)%>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
