<div class="d-flex row gap-3 mb-5">
      <div class="col-md-6">
        <div class="card p-3 shadow-sm bg-body-tertiary col" style="border-radius: 10px">
          <h2><%= @learner.full_name %></h2>
          <p>Hub: <%= @learner.hubs.any? ? @learner.users_hubs.find_by(main: true)&.hub.name : ''  %></p>
          <p>Email: <%= @learner.email %></p>
          <% if @hub_lcs.any? %>
            <% @hub_lcs.each do |lc| %>
              <p>LC: <%= lc.full_name %> <br> <i class="fa-regular fa-envelope"></i> <a href="mailto:<%= lc.email %>"><%= lc.email %></a></p>
            <% end %>
          <% end %>

        <div class="d-flex gap-3 mt-3">
          <div class="d-flex gap-3">
            <% if @report %>
              <%= link_to "Reports", reports_path(date: Date.today), class: 'btn btn-primary', style: 'border-radius: 10px;' %>
            <% end %>
          </div>
          <div class="d-flex gap-3">
            <%= link_to "Build Week Consents", build_week_consents_path(learner_id: @learner.id), class: 'btn btn-primary', style: 'border-radius: 10px;' %>
            <% if @consent.present? && (@consent.consent_approved_by_learner.present? || @consent.consent_approved_by_guardian.present?) %>
              <%= link_to sprint_consents_path(learner_id: @learner.id), class: "btn btn-success", style: "border-radius: 10px;" do %>
                Sprint Consent <i class="fa-solid fa-check"></i>
              <% end %>
            <% else %>
              <%= link_to sprint_consents_path(learner_id: @learner.id), class: "btn btn-danger", style: "border-radius: 10px;" do %>
                Sprint Consent <i class="fa-solid fa-xmark"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @attendances %>
      <h2>Attendance</h2>
      <div>
        <div>
          <%= render 'pages/partials/attendance',
              learner: @learner,
              current_week: @current_week,
              attendances: @attendances %>
        </div>
      </div>
    <% end %>


    <h2>Sprint Overview</h2>
    <p>Keep track of your learner.</p>
    <div>
      <%= render 'pages/partials/sprint_overview',
          current_user: current_user %>
    </div>

    <h2>Timelines</h2>
    <p>Check your learner's academic performance.</p>
    <div>
      <%= render 'pages/partials/timelines_display' %>
    </div>

  <h2>Holidays</h2>
  <div>
    <%= render 'pages/partials/holidays',
        holidays: @holidays %>
  </div>

  <h2>Sprint Goals</h2>
  <p>Check your learner's goals below.</p>
  <div>
    <%= render 'pages/partials/skills_and_communities',
        sprint_goal: @sprint_goal,
        current_sprint: @current_sprint,
        learner: @learner %>
  </div>
