<%= turbo_frame_tag "lp_sprint_goal" do %>
  <!-- Sprint Navigation Header -->
  <div class="d-flex justify-content-between mb-3 align-items-center position-relative">
    <div class="d-flex gap-2 position-absolute top-50 start-50 translate-middle">
      <% previous_sprint_id = current_sprint.id - 1 %>
      <% next_sprint_id = current_sprint.id + 1 %>
      <%= button_to change_sprint_goal_path(current_sprint_id: previous_sprint_id, learner_id: learner.id), method: :get, class: "btn btn-outline-secondary rounded d-flex align-items-center h-100", data: { turbo_frame: 'lp_sprint_goal' } do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>

      <div class="btn btn-outline-secondary rounded d-flex align-items-center h-100">
        <div>
          <%= current_sprint.name %> <br>
          <%= current_sprint.start_date.strftime("%Y") %>
        </div>
      </div>

      <%= button_to change_sprint_goal_path(current_sprint_id: next_sprint_id, learner_id: learner.id), method: :get, class: "btn btn-outline-secondary rounded d-flex align-items-center h-100", data: { turbo_frame: 'lp_sprint_goal' } do %>
        <i class="fa-solid fa-chevron-right"></i>
      <% end %>
    </div>
    <br>
    <br>
  </div>

  <!-- Knowledges Goals Section -->
  <div class="mb-5">
    <div class="card mb-2 shadow-sm px-2 responsive-card" style="border-radius: 10px">
      <div class="px-2 overflow-auto">
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: left;">Subject</th>
              <th>The challenges you might encounter.</th>
              <th>The plan to overcome the challenges</th>
              <th>Exam Season</th>
            </tr>
          </thead>
          <tbody>
            <% if sprint_goal.present? && sprint_goal.knowledges.present? %>
              <% sprint_goal.knowledges.each do |k| %>
                <tr>
                  <td style="text-align: left;"><%= k.subject_name %></td>
                  <td><%= k.difficulties %></td>
                  <td><%= k.plan %></td>
                  <td><%= k.exam_season %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <% if sprint_goal.blank? || sprint_goal.knowledges.blank? %>
          <div class="text-center py-5">
            <h2>No Knowledges Goals yet...</h2>
            <p>Please help <%= learner.full_name %> fill out their Sprint goals</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Skills and Communities Goals Section -->
  <div class="mb-5">
    <div class="card mb-2 shadow-sm px-2 responsive-card" style="border-radius: 10px">
      <div class="px-2 overflow-auto">
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: left;">Activity</th>
              <th>Your Goals for this Activity</th>
              <th>The challenges you might encounter.</th>
              <th>The plan to overcome the challenges</th>
            </tr>
          </thead>
          <tbody>
            <% if sprint_goal.present? %>
              <% if sprint_goal.skills.present? %>
                <% sprint_goal.skills.each do |skill| %>
                  <tr>
                    <td style="text-align: left;"><%= skill.extracurricular %></td>
                    <td><%= skill.smartgoals %></td>
                    <td><%= skill.difficulties %></td>
                    <td><%= skill.plan %></td>
                  </tr>
                <% end %>
              <% end %>
              <% if sprint_goal.communities.present? %>
                <% sprint_goal.communities.each do |community| %>
                  <tr>
                    <td style="text-align: left;"><%= community.involved %></td>
                    <td><%= community.smartgoals %></td>
                    <td><%= community.difficulties %></td>
                    <td><%= community.plan %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <% if sprint_goal.blank? || (sprint_goal.skills.blank? && sprint_goal.communities.blank?) %>
          <div class="text-center py-5">
            <h2>No Skills or Community Goals yet...</h2>
            <p>Please help <%= learner.full_name %> fill out their Skills and Community goals</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
