<div class="mb-4">
  <div class="card mb-2 shadow-sm px-2 responsive-card" style="border-radius: 10px">
    <div class="px-2 overflow-auto">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <% @current_sprint_weeks.each do |week| %>
              <th class="week-header" >
                <div class="week-name-container">
                  <% if week.name.include?("Build") %>
                    <div class="week-name"><%= week.week_name_abbr %>*</div>
                  <% else %>
                    <div class="week-name"><%= week.week_name_abbr %></div>
                  <% end %>
                </div>
              </th>
            <% end %>
            <th>Overall</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left;">Weekly Goals</td>
            <% @current_sprint_weeks.each do |week| %>
              <% if week.weekly_goals.where(user: @learner).exists? %>
                <% if week.start_date <= Date.today %>
                  <td class="text-success"><i class="fa-regular fa-circle-check"></i></td>
                <% else %>
                  <td></td>
                <% end %>
              <% else %>
                <% if week.start_date <= Date.today %>
                  <td class="text-danger"><i class="fa-regular fa-circle-xmark"></i></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
            <% end %>
            <td><%= @weekly_goals_percentage %>%</td>
          </tr>
          <tr>
            <td style="text-align: left;">KDAs</td>
            <% @current_sprint_weeks.each do |week| %>
              <% if week.kdas.where(user: @learner).exists? %>
                <% if week.start_date <= Date.today %>
                  <td class="text-success"><i class="fa-regular fa-circle-check"></i></td>
                <% else %>
                  <td></td>
                <% end %>
              <% else %>
                <% if week.start_date <= Date.today %>
                  <td class="text-danger"><i class="fa-regular fa-circle-xmark"></i></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
            <% end %>
            <td><%= @kdas_percentage %>%</td>
          </tr>
          <tr>
            <td style="text-align: left;">Unjustified Absences</td>
            <% @current_sprint_weeks.each do |week| %>
              <% if week.start_date <= Date.today %>
                <td><%= week.count_absences(@learner) %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
            <td><%= @current_sprint.count_absences(@learner) %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="build-week" >*Build Week</div>
</div>
