<div class="card mb-5" style="border-radius: 10px">
    <div class="px-2">
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Progress</th>
            <th>Mock 50%</th>
            <th>Mock 100%</th>
            <% if @has_exam_date %>
              <th>Exam Season</th>
            <% end %>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
          <% if @timelines.exists? %>
            <% @timelines.each do |timeline| %>
              <tr>
                <td><%= timeline.subject.name != '' ? timeline.subject.name : timeline.personalized_name %></td>
                <td style="width: 200px;">
                  <% if timeline.progress > timeline.expected_progress%>
                    <div style="background-color: rgb(220,220,220); border-radius: 10px;" class="d-flex">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: <%= [timeline.expected_progress, 5].max %>%; border-radius: 10px 0 0 10px;" aria-valuenow="<%= timeline.expected_progress %>" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-text text-white"><%= timeline.expected_progress %>%</span>
                      </div>
                      <div class="progress-bar bg-success text-white" role="progressbar" style="width: <%= [timeline.progress - timeline.expected_progress, 5].max %>%; border-radius: <%= timeline.progress == 0 ? '10px' :  '0 10px 10px 0'%>;" aria-valuenow="<%= timeline.expected_progress - timeline.progress %>">
                        <% unless timeline.progress - timeline.expected_progress < 5 %>
                          <%= timeline.progress - timeline.expected_progress %>%
                        <% end %>
                      </div>
                    </div>
                  <% elsif timeline.progress < timeline.expected_progress%>
                    <div style="background-color: rgb(220,220,220); border-radius: 10px;" class="d-flex">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: <%= [timeline.expected_progress, 5].max %>%; border-radius: 10px 0 0 10px;" aria-valuenow="<%= timeline.progress %>" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-text text-white"><%= timeline.progress %>%</span>
                      </div>
                      <div class="progress-bar bg-danger text-white" role="progressbar" style="width: <%= [timeline.expected_progress - timeline.progress, 5].max %>%; border-radius: <%= timeline.progress == 0 ? '10px' :  '0 10px 10px 0'%>;" aria-valuenow="<%= timeline.expected_progress - timeline.progress %>">
                        <% unless timeline.expected_progress - timeline.progress < 5 %>
                          <%= timeline.expected_progress - timeline.progress %>%
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                    <div style="background-color: rgb(220,220,220); border-radius: 10px;">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: <%= timeline.progress%>%; border-radius: 10px;" aria-valuenow="<%= timeline.progress%>" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-text text-white"><%= timeline.progress %>%</span>
                      </div>
                    </div>
                  <% end %>

                </td>
                <% if timeline.mock50 != nil %>
                  <td><%= timeline.mock50.strftime("%d/%m/%Y") %></td>
                <% else %>
                  <td></td>
                <% end %>
                <% if timeline.mock100 != nil %>
                  <td><%= timeline.mock100.strftime("%d/%m/%Y") %></td>
                <% else %>
                  <td></td>
                <% end %>
                <% if @has_exam_date %>
                  <td>
                    <% if timeline.exam_date.present? %>
                      <% if timeline.exam_date.date.month == 5 || timeline.exam_date.date.month == 6 %>
                        <p>May/Jun <%= timeline.exam_date.date.strftime("%Y") %></p>
                      <% elsif timeline.exam_date.date.month == 10 || timeline.exam_date.date.month == 11 %>
                        <p>Oct/Nov <%= timeline.exam_date.date.strftime("%Y") %></p>
                      <% else %>
                        <%= timeline.exam_date.date.strftime("%B %Y") %>
                      <% end %>
                    <% else %>
                      <p>N/A</p>
                    <% end %>
                  </td>
                <% end %>
                <td><%= timeline.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= timeline.end_date.strftime("%d/%m/%Y") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7">
                <div class="text-center py-5">
                  <h2>No Timelines available...</h2>
                  <p>Please help <%= @learner.full_name %> set up their timelines.</p>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
