<p>Olá,</p>

<p>O grande dia está a chegar e estamos ansiosos por receber o/a <%= @learner.full_name.split.first %> no dia <%= @learner.start_date.strftime("%d/%m/%Y") %>!</p>

<p>Abaixo encontram informações importantes sobre o primeiro dia de aulas. Pedimos que leiam atentamente e, caso tenham alguma dúvida, não hesitem em contactar-me.</p>

<ol>
  <li>
    <strong>Criação do Email BGA</strong><br><br>
    Email: <strong><%= @learner.institutional_email %></strong><br>
    Password: Por favor, encontre a palavra-passe em anexo<br><br>
    Por favor, aguarde pelo primeiro dia para configurar a conta juntamente com o Learning Coach. Pode encontrar o documento de apoio para procederes à autenticação da conta aqui:<br>
    Tutorial da Aplicação Microsoft Authenticator
  </li><br>
  <li>
    <strong>Dia e Horário</strong><br>
    O dia de onboarding de <%= @learner.full_name.split.first %> está marcado para <%= @learner.start_date.strftime("%d/%m/%Y") %>.<br>
    Excecionalmente no primeiro dia, deverá estar no Hub às 10h00 para que o Learning Coach possa fazer o onboarding.<br>
    O que trazer: computador portátil, carregador, auscultadores, caderno e material de escrita (incluindo calculadora).
  </li>
  <li>
    <strong>Morada do Hub</strong><br>
    O BGA Hub está localizado:<br>
    <%= @hub.address %> (<a href="<%= @hub.google_map_link %>">Google Maps</a>)
  </li>
  <li>
    <strong>Acesso à Plataforma</strong><br><br>
    Abaixo encontram as credenciais para acesso à nossa plataforma. Pedimos que aguardem pelo Learning Coach para aceder pela primeira vez.<br><br>
    <p><%= @platform_details %></p>
  </li><br>
  <li>
    <strong>Registo na Plataforma Adicional</strong><br>
    UNIFROG: A Unifrog é uma plataforma online que ajuda os alunos a pesquisar e conectar-se com universidades em todo o mundo. Através desta plataforma, os alunos podem encontrar oportunidades de carreira, aceder a MOOCs, preparar CVs, cartas de recomendação e muito mais. A Unifrog oferece suporte para planeamento de carreira e candidaturas para universidades nos EUA, Canadá, Reino Unido, Europa, Ásia e Austrália.<br>
    Para se registar, basta preencher <a href="https://d114wx04.na1.hs-sales-engage.com/Ctc/ZU+23284/d114wX04/JkM2-6qcW6N1vHY6lZ3q6W43C-hK4yqstsW10g98_3FzX-YW5NwKRF1M6PYRW3t729V78VMJnW3nhyc45sSB5dW2BgnPy4130JQW4c07c18_cLvNW8z7BXR7wXKZZW2ZsSvy7zr96QW7FWPbt4Smn95W8kq2nV13MNnRW99s3Cz4sRF80W7-swxT8_3wFxW4nXxp61Ghb75W8f3LBF4JkZrzW2D2BB21RcqXTW31TB5h6BS5tNW7lZwCQ41x30wW4D6pH96B7CD0W6RydL96w7SSsMHS55xgd_RlW3RvwZr5czjTVf586Spg04">este formulário</a>.
  </li>
  <li>
    <strong>Contactos Importantes</strong><br>
    <u>Learning Coaches:</u><br>
    <% @learning_coaches.each do |lc| %>
      <%= lc.full_name %>: <%= lc.email %><br>
    <% end %>
    <br>
    <u>Regional Manager:</u><br>
    <% if @regional_manager %>
      <%= @regional_manager.full_name %>: <%= @regional_manager.email %>
    <% else %>
      N/A
    <% end %>
  </li>
  <li>
    <strong>Convite para o Grupo de WhatsApp dos Pais</strong><br>
    Cada Hub da BGA tem um grupo de WhatsApp para os pais, facilitando a comunicação e criando um maior sentido de comunidade dentro da família BGA. Caso queiram fazer parte, podem clicar no link abaixo a partir do telemóvel e entrar no grupo:<br><br>
    <a href="<%= @hub.parents_whatsapp_group %>"><%= @hub.parents_whatsapp_group %></a>
  </li>
  <li>
    <strong>Almoço</strong><br>
    Os alunos podem trazer o seu próprio almoço de casa ou optar por comprar comida num dos cafés ou restaurantes próximos ao Hub.
  </li>
  <li>
    <strong>Guia para Alunos e Pais</strong><br>
    Para garantir uma experiência positiva e alinhada com os valores da BGA, desenvolvemos um Guia para Alunos e Pais, onde encontrará as principais políticas, procedimentos e expectativas da nossa comunidade educativa. Pode aceder ao guia através do seguinte link: Guia para Alunos e Pais
  </li><br>
  <p>Caso tenham feito o registo com o Colégio de Educação Integral (CEI)</p>
  <li>
    <strong>Próxima etapa com o CEI:</strong><br>
    O CEI entrará em contacto convosco para agendar a reunião com o responsável educativo e o aluno.<br>
    Após essa reunião será assinado o Projeto Educativo e concluído o processo oficial de matrícula através do Portal das Matrículas, validando formalmente o registo do aluno em Ensino Doméstico. É importante notar que a matrícula no Portal das Matrículas deverá ser feita pelo encarregado de educação do aluno (clique aqui para aceder as instruções de como completar este processo).<br>
    Nota: Essa etapa não precisa ser concluída antes do início da frequência ao nosso Hub.
  </li>
</ol>

<p>Após aproximadamente um mês, os Learning Coaches entrarão em contacto para marcar uma reunião individual. No final de cada trimestre/sprint, receberão por email um relatório personalizado sobre o progresso e objetivos do aluno.</p>

<p>--</p>

<p>Estamos muito felizes por receber <%= @learner.full_name.split.first %> na Brave Generation Academy e desejamos-lhe o maior sucesso nesta nova jornada!</p>

<p>Com os melhores cumprimentos,</p>

<p>BGA Admissions Team | (+351) 913 578 362</p>
