<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-11">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center"><%= @weekly_meeting.week.name %></h1>

          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group text-center">
                  <strong>Hub:</strong> <%= @weekly_meeting.hub.name %>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group text-center">
                  <strong>Week Start Date:</strong> <%= @weekly_meeting.week.start_date.strftime("%B %e, %Y") %>
                  <br>
                  <strong>Week End Date:</strong> <%= @weekly_meeting.week.end_date.strftime("%B %e, %Y") %>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-4">
            <div class="container">
              <div class="table-responsive">
                <table class="table table-bordered text-center">
                  <thead>
                    <tr class="bg-gray">
                      <th class="text-uppercase">Time</th>
                      <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'].each do |day| %>
                        <th class="text-uppercase"><%= day %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% @time_slots.each do |time_slot| %>
                      <tr>
                        <td class="align-middle"><%= time_slot %></td>
                        <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'].each do |day| %>
                          <td>
                            <% day_method = "#{day.downcase}_slots" %>
                            <% day_slots = @weekly_meeting.send(day_method).select { |slot| slot.time_slot == time_slot } %>
                            <% day_slot = day_slots.first %>
                            <% if day_slot %>
                              <% if day_slot.lc.present? %>
                                LC: <%= day_slot.lc.full_name %><br>
                              <% end %>
                              <% if day_slot.learner.present? %>
                                Learner: <%= day_slot.learner.full_name %>
                              <% end %>
                            <% else %>
                              <%= '' %>
                            <% end %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="text-center mt-3">
            <%= link_to 'Edit', edit_weekly_meeting_path(@weekly_meeting), class: "btn btn-primary mr-2" %>
            <%= link_to 'Back', weekly_meetings_path, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
