<!-- Accordion content OPEN by default -->
<div id="collapse<%= @moodle_timeline.id %>" class="accordion-collapse collapse show"
     aria-labelledby="heading<%= @moodle_timeline.id %>" data-bs-parent="#parentAccordion">
  <div class="accordion-body p-2">
    <div class="card shadow-sm px-2" style="border-radius: 10px;">
      <table class="table">
        <thead>
          <tr>
            <% if @moodle_timeline.subject.category.include?("lws") && @moodle_timeline.subject.name.include?("Year") %>
              <th>Project</th>
            <% elsif @moodle_timeline.subject.category.include?("lws") && !@moodle_timeline.subject.name.include?("Year") %>
              <th>Subject</th>
            <% elsif @moodle_timeline.subject.id == 80 %>
              <th>Block</th>
            <% else %>
              <th>Unit</th>
            <% end %>
            <th>Topic</th>
            <th>Attempts</th>
            <th>Submission</th>
            <th>Grade</th>
            <% unless @moodle_timeline.subject.category.include?("lws") %>
              <th>Hours</th>
              <th width="120px">Deadline</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% previous_unit = nil %>
          <% if @moodle_timeline.subject.id.in?([1007, 1008, 1009])
              topics = @moodle_timeline.moodle_topics.where(hidden: false).order(unit: :asc).order(:id)
            else
              topics = @moodle_timeline.moodle_topics.where(hidden: false).order(:id)
            end
          %>
          <% topics.each do |moodle_topic| %>
            <% background_color = if moodle_topic && !moodle_topic.done && moodle_topic.deadline && moodle_topic.deadline < Date.today && ![0, 1, 2].include?(@moodle_timeline.subject.category)
                                    '#ff193499'
                                  elsif moodle_topic && !moodle_topic.done && moodle_topic.deadline && moodle_topic.deadline < Date.today && ![0, 1, 2].include?(@moodle_timeline.subject.category)
                                    '#ff193499'
                                  elsif moodle_topic && !moodle_topic.done && moodle_topic.deadline && Date.today.monday? && moodle_topic.deadline < (Date.today + ((5 - Date.today.wday) % 7)) && ![0, 1, 2].include?(@moodle_timeline.subject.category)
                                    'lightgrey'
                                  elsif moodle_topic && (moodle_topic.done && moodle_topic.number_attempts.present?) # lessons done
                                    '#00ce00a6'
                                  elsif moodle_topic && (moodle_topic.done && !moodle_topic.number_attempts.present?)
                                    '#d1e01b'
                                  else
                                    'transparent'
                                  end %>
            <tr>
              <td style="background-color: <%= background_color %>;">
                <% if moodle_topic.unit != previous_unit %>
                  <%= moodle_topic.unit %>
                  <% previous_unit = moodle_topic.unit %>
                <% end %>
              </td>
              <td style="background-color: <%= background_color %>;"><%= moodle_topic.name %></td>
              <% if moodle_topic && moodle_topic.deadline.present? %>
                <% unless @moodle_timeline.subject.category.include?("lws") %>
                  <% if moodle_topic.number_attempts != 0 && moodle_topic.number_attempts.present? && moodle_topic.grade.present? %>
                    <td style="background-color: <%= background_color %>;"><%= moodle_topic.number_attempts %></td>
                  <% else %>
                    <td style="background-color: <%= background_color %>;"></td>
                  <% end %>
                  <% if moodle_topic.submission_date == "01/01/1970 01:00" || (moodle_topic.submission_date && moodle_topic.grade.nil?) %>
                    <td style="background-color: <%= background_color %>;"></td>
                  <% else %>
                      <td style="background-color: <%= background_color %>;"><%= moodle_topic.submission_date %></td>
                  <% end %>
                  <td style="background-color: <%= background_color %>;"><%= moodle_topic.grade %></td>
                  <td style="background-color: <%= background_color %>;"><%= moodle_topic.time %></td>
                  <td style="background-color: <%= background_color %>;"><%= moodle_topic.deadline.strftime('%d-%m-%Y') %></td>
                <% end %>
              <% else %>
                <td style="background-color: <%= background_color %>;">Update Dates</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
