<section>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">New Timeline</h2>

            <%= form_with(model: @timeline) do |form| %>
              <% if @timeline.errors.any? %>
                <div id="error_explanation" class="alert alert-danger">
                  <h4><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h4>
                  <ul>
                    <% @timeline.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% if @edit != true %>
                <div class="form-group">
                  <%= form.label :subject_id %>
                  <%= form.collection_select :subject_id, @subjects, :id, :name, { disabled: @subjects_with_timeline_ids }, { class: 'form-control' } %>
                </div>
              <% else %>
                <div class="form-group">
                  <%= form.label :subject_id %>
                  <%= form.collection_select :subject_id, @subjects, :id, :name, { disabled: @subjects_with_timeline_ids }, { class: 'form-control', disabled: true } %>
                </div>
              <% end %>

              <div class="form-group">
                <%= form.label :start_date %>
                <%= form.date_field :start_date, class: 'form-control', required: true %>
              </div>
              <br>
              <div class="form-group">
                <%= form.label :exam_date %>
                <%= form.collection_select :exam_date_id, @exam_dates, :last, :first, include_blank: true, class: 'form-control' %>
              </div>
              <br>

              <div class="form-group">
                <%= form.label :end_date %>
                <%= form.date_field :end_date, class: 'form-control', required: true %>
              </div>

              <div class="d-flex justify-content-center  gap-2 mt-3">
                <%= link_to "Back", timelines_path, class: "btn btn-secondary", style: 'border-radius: 10px;' %>
                <%= form.submit 'Create Timeline', class: 'btn btn-primary', style: 'border-radius: 10px;' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="row justify-content-center">
      <%= image_tag "rules.png"%>
    </div>
    <br>
    <h2 class="card-title text-center mb-4">IGCSE's</h2>
    <div class="row justify-content-center">
      <%= image_tag "IGCSE.png" %>
    </div>
    <br>
    <h2 class="card-title text-center mb-4">A-Levels</h2>
    <div class="row justify-content-center">
      <%= image_tag "A-Levels.png" %>
    </div>
  </div>

</section>
