<div class="container mt-3">
  <div class="container">
    <div id="holidays-section" class="mb-5">
      <div class="d-flex justify-content-between">
        <div>
          <h2>Holidays</h2>
          <p>Create new Holidays here:</p>
        </div>
        <div>
          <%= link_to "New Holiday", new_holiday_path, class: "btn btn-primary", style: 'border-radius: 10px;' %>
          <%= link_to "Archive", archived_timelines_path, class: "btn btn-secondary ms-2", style: 'border-radius: 10px;' %>
        </div>
      </div>
      <div id="holidays-content" class="row row-cols-4">
        <% @holidays.each do |holiday| %>
        <div class="col mb-3">
            <div class="card shadow-sm" style="border-radius: 10px;">
              <div class="p-3">
                <%= render partial: 'holiday', locals: { holiday: holiday } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id="timelines-section" class="mb-5">
      <div class="d-flex justify-content-between">
        <div>
          <h2>Timelines</h2>
          <p>Create your Timelines here</p>
        </div>
        <div>
          <% if @has_lws %>
            <div style="margin-right: 130px;">
              <h5 class="mb-0" style="margin-top: 12px">Blocks per day: <%= (@total_blocks_per_day * 1.2).round(1)  %></h5>
            </div>
          <% end %>

          <% unless @average_weekly_percentage.nan? %>
            <div >
              <h5 class="mb-0" style="margin-top: 12px">Expected weekly progress: <%= @average_weekly_percentage %>% / <%= (@total_hours_per_week).round() %>h</h5>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <%= link_to "New Timeline", new_timeline_path, class: "btn btn-primary", style: 'border-radius: 10px;' %>
        <% if @archived %>
          <%= link_to "Archive", archived_timelines_path, class: "btn btn-secondary ms-2", style: 'border-radius: 10px;' %>
        <% end %>
      </div>
    </div>

    <div id="timelines-content">
      <div class="accordion" id="parentAccordion">
        <% @timelines.each do |timeline| %>
          <%= render partial: 'timelines/timeline', locals: { timeline: timeline } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
