<table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Learner Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Comments</th>
        <th scope="col">Save Time & Comments</th>
        <th scope="col">Presence</th>
        <% if @is_today %>
          <th scope="col">I/O</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td>
            <p><%= link_to attendance.user.full_name, learner_attendances_path(learner_id: attendance.user.id) %>
            </p>
          </td>
          <%= form_with(model: attendance, url: update_time_and_comments_path(attendance), local: true, method: :patch, class: "attendance-form") do |form| %>
            <td>
              <%= form.time_field :start_time, value: attendance.start_time&.strftime("%H:%M"), class: "form-control" %>
            </td>
            <td>
              <%= form.time_field :end_time, value: attendance.end_time&.strftime("%H:%M"), class: "form-control" %>
            </td>
            <td>
              <%= form.text_area :comments, class: "form-control", rows: 3 %>
            </td>
            <td>
              <%= form.submit "Save Changes", class: "btn btn-primary mt-2" %>
            </td>
          <% end %>
          <td>
            <%= form_tag(update_absence_attendance_path(attendance), method: :patch) do %>
              <%= select_tag 'absence', options_for_select(['Justified Leave', 'Unjustified Leave', 'Holiday', 'Present'], attendance.absence), class: 'form-control', onchange: 'this.form.submit()' %>
            <% end %>
          </td>
          <% if @is_today %>
            <td>
              <% if attendance.start_time.present? %>
                <% if attendance.end_time.blank? %>
                  <%= link_to update_attendance_path(learner_id: attendance.user.id, attendance_date: attendance.attendance_date), data: {"turbo-method": :put} do %>
                    <button class="btn btn-danger">
                    <i class="fa-solid fa-stop"></i>
                    </button>
                  <% end %>
                <% else %>
                  <button class="btn btn-secondary" style="cursor: not-allowed;"><i class="fa-solid fa-play"></i></button>
                <% end %>
              <% else %>
                <%= link_to update_attendance_path(learner_id: attendance.user.id, attendance_date: attendance.attendance_date), data: {"turbo-method": :put}  do %>
                  <button class="btn btn-success">
                    <i class="fa-solid fa-play"></i>
                  </button>
                <% end %>
              <% end  %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
