<% if @has_learners %>
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Learner Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Comments</th>
        <th scope="col">Presence</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr data-controller="attendance" data-attendance-id="<%= attendance.id %>">
          <td>
            <p><%= link_to attendance.user.full_name, learner_attendances_path(learner_id: attendance.user.id) %>
            </p>
          </td>
          <td>
            <%= form_tag(update_start_time_attendance_path(attendance), method: :patch, remote: true) do %>
              <%= time_field_tag "attendance[start_time]", attendance.start_time&.strftime("%H:%M"), class: "form-control", data: { attendance_target: "startTime", action: "blur->attendance#updateStartTime" } %>
            <% end %>
          </td>
          <td>
            <%= form_tag(update_end_time_attendance_path(attendance), method: :patch, remote: true) do %>
              <%= time_field_tag "attendance[end_time]", attendance.end_time&.strftime("%H:%M"), class: "form-control", data: { attendance_target: "endTime", action: "blur->attendance#updateEndTime" } %>
            <% end %>
          </td>
          <td>
            <%= form_tag(update_comments_attendance_path(attendance), method: :patch, remote: true) do %>
              <%= text_area_tag "attendance[comments]", attendance.comments, class: "form-control", rows: 3, data: { attendance_target: "comments", action: "input->attendance#updateComments" } %>
            <% end %>
          </td>
          <td>
            <%= form_tag(update_absence_attendance_path(attendance), method: :patch) do %>
              <%= select_tag 'absence', options_for_select(['Justified Leave', 'Unjustified Leave', 'Working Away', 'Holiday', 'Present'], attendance.absence), prompt: '-Select Option-', class: 'form-control', data: { attendance_target: "absence", action: "change->attendance#updateAbsence" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <div class="d-flex flex-column text-center justify-content-center mt-5">
    <h1>There are no Learners in this hub yet...</h1>
    <p>Please help learners in your hub sign up to use this feature.</p>
  </div>

<% end %>
