<% if @has_learners %>

  <% @daily_grouped_attendances.each do |date, attendances| %>
  <h3><%= date.strftime("%A, %B %e") %></h3>
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Learner Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Comments</th>
        <th scope="col">Presence</th>
      </tr>
    </thead>
    <tbody>
      <% attendances.each do |attendance| %>
        <tr>
          <td><%= attendance.user.full_name %></td>
          <td>
            <%= form_tag(update_start_time_attendance_path(attendance), method: :patch, remote: true) do %>
              <%= time_field_tag "attendance[start_time]", attendance.start_time&.strftime("%H:%M"), class: "form-control", onblur: 'this.form.submit()' %>
            <% end %>
          </td>
          <td>
            <%= form_tag(update_end_time_attendance_path(attendance), method: :patch, remote: true) do %>
              <%= time_field_tag "attendance[end_time]", attendance.end_time&.strftime("%H:%M"), class: "form-control", onblur: 'this.form.submit()' %>
            <% end %>
          </td>
          <td>
            <%= form_tag(update_comments_attendance_path(attendance), method: :patch, remote: true) do %>
              <%= text_area_tag "attendance[comments]", attendance.comments, class: "form-control", rows: 3, onblur: 'this.form.submit()' %>
            <% end %>
          </td>
          <td>
            <%= form_tag(update_absence_attendance_path(attendance), method: :patch) do %>
              <%= select_tag 'absence', options_for_select(['Justified Leave', 'Unjustified Leave', 'Holiday', 'Present'], attendance.absence), prompt: '-Select Option-', class: 'form-control', onchange: 'this.form.submit()' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

<% else %>

  <div class="d-flex flex-column text-center justify-content-center mt-5">
    <h1>There are no Learners in this hub yet...</h1>
    <p>Please help learners in your hub sign up to use this feature.</p>
  </div>

<% end %>
