<div class="mx-5 mt-3">
  <div class="d-flex d-flex justify-content-between mb-3">
    <h1>Today's attendance</h1>
    <div>
        <%= link_to 'Daily', attendances_by_time_frame_path(time_frame: 'daily') %>
        <%= link_to 'Weekly', attendances_by_time_frame_path(time_frame: 'weekly') %>
        <%= link_to 'Monthly', attendances_by_time_frame_path(time_frame: 'monthly') %>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Learner Name</th>
        <th scope="col">Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Comments</th>
        <th scope="col">Present</th>
        <th scope="col">Absence</th>
        <th scope="col">I/O</th>
      </tr>
    </thead>
    <tbody>
  <% @learners.each do |learner|%>
    <% attendance = learner.attendances.last %>
      <tr>
        <td>
          <p><%= link_to learner.full_name, learner_attendances_path(learner_id: learner.id) %>
          </p>
        </td>
        <td><p><%= attendance.attendance_date%></p></td>
        <td>
          <% if attendance.start_time? %>
            <p><%= attendance.start_time.strftime("%H:%M")%>H</p>
          <% else %>
            <p>N/A</p>
          <% end %>
        </td>
        <td>
          <% if attendance.end_time? %>
            <p><%= attendance.end_time.strftime("%H:%M")%>H</p>
          <% else %>
            <p>N/A</p>
          <% end %>
        </td>
        <td>
          <%= form_with(model: attendance, url: patch_attendance_comment_path(attendance), local: true, method: :patch) do |form| %>
            <%= form.text_area :comments, class: "form-control", rows: 3 %>
            <%= form.submit "Save Comment", class: "btn btn-primary" %>
          <% end %>
        </td>
        <td>
          <% if attendance.present? %>
            <i class="fa-solid fa-check"></i>
          <% else %>
            <i class="fa-solid fa-x"></i>
          <% end %>
        </td>
        <td>
          <% if attendance.present? %>
            <p>Present</p>
          <% else %>
            <%= form_tag(update_absence_attendance_path(attendance), method: :patch) do %>
              <%= select_tag 'absence', options_for_select(['Justified Leave', 'Unjustified Leave', 'Holiday'], attendance.absence), class: 'form-control', onchange: 'this.form.submit()' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if attendance.start_time.present? %>
            <% if attendance.end_time.blank? %>
              <%= link_to update_attendance_path(learner_id: learner.id, attendance_date: attendance.attendance_date), data: {"turbo-method": :put} do %>
                <button class="btn btn-danger">
                 <i class="fa-solid fa-stop"></i>
                </button>
              <% end %>
            <% else %>
              <button class="btn btn-secondary" style="cursor: not-allowed;"><i class="fa-solid fa-play"></i></button>
            <% end %>
          <% else %>
            <%= link_to update_attendance_path(learner_id: learner.id, attendance_date: attendance.attendance_date), data: {"turbo-method": :put}  do %>
              <button class="btn btn-success">
                <i class="fa-solid fa-play"></i>
              </button>
            <% end %>
          <% end  %>
        </td>
      </tr>
  <% end%>
    </tbody>
  </table>
</div>
