<div class="mx-5 mt-3">
  <div class="d-flex d-flex justify-content-between mb-3">
    <div class="d-flex gap-5">
      <h1><%= @time_frame %> Attendance</h1>
      <div class="d-flex gap-2">
        <button class="btn btn-outline-secondary rounded"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="btn btn-outline-secondary rounded">Current</button>
        <button class="btn btn-outline-secondary rounded"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
    </div>
    <div>
        <%= link_to 'Today', attendance_path() %>
        <%= link_to 'Daily', attendances_by_time_frame_path(time_frame: 'daily') %>
        <%= link_to 'Weekly', attendances_by_time_frame_path(time_frame: 'weekly') %>
        <%= link_to 'Monthly', attendances_by_time_frame_path(time_frame: 'monthly') %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Learner Name</th>
        <th scope="col">Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Comments</th>
        <th scope="col">Present</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td>
            <p><%= attendance.user.full_name %></p>
          </td>
          <td>
            <p><%= attendance.attendance_date%></p>
          </td>
          <td>
            <% if attendance.start_time? %>
              <p><%= attendance.start_time.strftime("%H:%M")%>H</p>
            <% else %>
              <p>N/A</p>
            <% end %>
          </td>
          <td>
            <% if attendance.end_time? %>
              <p><%= attendance.end_time.strftime("%H:%M")%>H</p>
            <% else %>
              <p>N/A</p>
            <% end %>
          </td>
          <td>
            <p><%= attendance.comments %></p>
          </td>
          <td>
            <% if attendance.present? %>
              <i class="fa-solid fa-check"></i>
            <% else %>
              <i class="fa-solid fa-x"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
