<div class="mx-5 mt-3">
  <div class="d-flex justify-content-between mb-3 align-items-center">
    <h1><%= @learner.full_name %></h1>
    <%= link_to 'Back', attendance_path() %>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col">Date</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Comments</th>
          <th scope="col">Save Time & Comments</th>
          <th scope="col">Presence</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |attendance|%>
          <tr>
            <td><p><%= attendance.attendance_date%></p></td>
            <%= form_with(model: attendance, url: update_time_and_comments_path(attendance), local: true, method: :patch, class: "attendance-form") do |form| %>
            <td>
              <%= form.time_field :start_time, value: attendance.start_time&.strftime("%H:%M"), class: "form-control" %>
            </td>
            <td>
              <%= form.time_field :end_time, value: attendance.end_time&.strftime("%H:%M"), class: "form-control" %>
            </td>
            <td>
              <%= form.text_area :comments, class: "form-control", rows: 3 %>
            </td>
            <td>
              <%= form.submit "Save Changes", class: "btn btn-primary mt-2" %>
            </td>
          <% end %>
            <td>
              <%= form_tag(update_absence_attendance_path(attendance), method: :patch) do %>
                <%= select_tag 'absence', options_for_select(['Justified Leave', 'Unjustified Leave', 'Holiday', 'Present'], attendance.absence), class: 'form-control', onchange: 'this.form.submit()' %>
              <% end %>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>
