<div class="mx-5 mt-3">
  <h1><%= @learner.full_name %></h1>

  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Comments</th>
        <th scope="col">Present</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance|%>
        <tr>
          <td><p><%= attendance.attendance_date%></p></td>
          <%= form_tag update_time_attendance_path(attendance), method: :patch, class: "time-edit-form" do %>
            <td>
                <%= time_field_tag :start_time, attendance.start_time&.strftime("%H:%M"), class: "form-control" %>
            </td>
            <td>
                <%= time_field_tag :end_time, attendance.end_time&.strftime("%H:%M"), class: "form-control" %>
                <%= submit_tag "Update Times", class: "btn btn-info mt-2" %>
            </td>
          <% end %>
          <td>
            <%= form_with(model: attendance, url: patch_attendance_comment_path(attendance), local: true, method: :patch) do |form| %>
              <%= form.text_area :comments, class: "form-control", rows: 3, id: "comment-field" %>
              <%= form.submit "Save Comment", class: "btn btn-primary" %>
            <% end %>
          </td>
          <td>
          <% if attendance.present? %>
            <i class="fa-solid fa-check"></i>
          <% else %>
            <i class="fa-solid fa-x"></i>
          <% end %>
          </td>
        </tr>
      <% end%>
    </tbody>
  </table>
  <%= link_to 'Back', attendance_path() %>
</div>
