<!DOCTYPE html>
<html>
  <head>
    <title>Worktools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <% if current_user.present? %>
      <% if current_user.role == "lc" %>
        <%= render "shared/lc_navbar" %>
      <% elsif current_user.role == "admin" %>
        <%= render "shared/admin_navbar" %>
      <% else %>
        <%= render "shared/navbar" %>
      <% end %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= yield %>
  </body>
</html>
