<!DOCTYPE html>
<html>
  <head>
    <title>Brave Generation Academy - Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      /* Public Layout Specific Overrides */
      body { background-color: #f8f9fa; }
    </style>
  </head>

  <body>
    <div class="container-fluid p-0">
      <div class="d-flex justify-content-center align-items-center mt-3">
        <%= alert if alert %>
      </div>

      <%= turbo_frame_tag "modal" %>
      <%= yield %>
    </div>
  </body>
</html>
